.wrapper {
    display: flex;

    .title-wrapper {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .title {
            display: flex;

            img {
                margin-right: 5px;
            }

            .text {
                width: 0%;
                flex: 1;

                ::ng-deep h1 {
                    flex: 1;
                    text-overflow: ellipsis !important;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}