<div class="wrapper">
    <div class="title-wrapper">
        <div class="title">
            <img
                height="40"
                [attr.src]="scriptIconLink" />

            <div class="text">
                <app-title>{{ script.name }}</app-title>
            </div>
        </div>
    </div>    
</div>