.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .emoji-wrapper {
        font-size: 36px;
    }

    .sentiment-txt-wrapper {
        font-size: 16px;
    }
}