<div class="wrapper">
    <div class="emoji-wrapper">
        {{ sentimentData.emojis | random }}
    </div>

    <div
        class="sentiment-txt-wrapper"
        [style.color]="sentimentData.color">

        {{ sentimentData.name }}

        <strong>
            {{ analysisData.confidencePercent | toFixed:2 }}%
        </strong>
    </div>
</div>