<p-fileUpload
    #FileUpload
    [name]="'demo[]'"
    [multiple]="false"
    [accept]="acceptFiles"
    [auto]="true"
    [customUpload]="true"
    (uploadHandler)="onUploadCustomHandler($event)">
    
    <ng-template pTemplate="content">
        <div
            class="wrapper">
            <i
                class="fas fa-upload fa-3x text-secondary">
            </i>

            <span class="drag-file-text">
                <strong>Choose a file</strong> or drag it here.
            </span>
        </div>
    </ng-template>

</p-fileUpload>