:host ::ng-deep .ui-fileupload-content {
    min-height: 150px;
}

:host ::ng-deep .ui-fileupload-content {
    padding: 0.5em !important;
}

.wrapper {
    width: 100%;
    height: 150px !important;
    max-height: 100% !important;
    border: dashed 1px rgb(194, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-file-text {
    margin-top: 25px;
}