::ng-deep .button-loader {
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    left: calc(50% - 10px);
    top: calc(50% - 12px);
}

::ng-deep .button-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 3px auto 0px auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    animation: button-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

::ng-deep .button-loader div:nth-child(1) {
    animation-delay: -0.45s;
}

::ng-deep .button-loader div:nth-child(2) {
    animation-delay: -0.3s;
}

::ng-deep .button-loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes button-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
