$header-color: #543e6d;

.header-wrapper {
    background-color: $header-color;
    border: 1px solid $header-color;
    border-radius: 8px 8px 0 0;

    height: 40px;

    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;

    cursor: pointer;
}

.close-icon {
    color: white;
}

.icon-button {
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;


    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;


    &:hover {
        background-color: rgba(#000000, 0.1);
    }
}

.chat-title {
    color: white;

    user-select: none;
}

.messages-count {
    height: 20px;
    width: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;

    background-color: white;

    color: $header-color;
}
