<div class="wrapper">
    <tag-creation-field
        [isAutoFocused]="true"
        (OnFormInit)="onFormGroupInit($event)"
        (OnEnter)="onTagCreation()">
    </tag-creation-field>

    <button
        pButton
        type="button"
        icon="fas fa-plus"
        class="ui-button-success"
        (click)="onTagCreation()">
    </button>
</div>