<p-progressBar
    *ngIf="!isTrainingComplete; else trainingCompleteTemplate"
    [value]="progressValue$ | async">
</p-progressBar>

<ng-template #trainingCompleteTemplate>
    <div
        @trainingCompleteAnimation
        class="training-complete-wrapper">
        <i
            class="far fa-check-circle fa-5x text-success">
        </i>
    </div>
</ng-template>