<content-loader
    [showIf]="modelData">

    <ng-template let-model="data">
        <model-editing-form
            [inputData]="model"
            (OnFormInit)="onFormGroupInit($event)">
        </model-editing-form>
    </ng-template>

</content-loader>

<p-footer>
    <div class="footer-wrapper">
        <button
            pButton
            type="button"
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCancelButtonClick()">
        </button>

        <button
            *ButtonLoader="savingSubscription"
            pButton
            type="button"
            label="Save"
            class="ui-button-raised"
            (click)="onSaveButtonClick()">
        </button>
    </div>
</p-footer>