<div
    class="wrapper ui-chips-token ui-state-highlight ui-corner-all"
    [style.backgroundColor]="data.color"
    [style.maxWidth]="maxWidth"
    [class.without-margin-for-close-btn]="!isCloseButtonVisible">

    <span
        *ngIf="modelState === ModelStateEnumEnum.Created && isCloseButtonVisible"
        class="ui-chips-token-icon pi pi-fw pi-times"
        (click)="OnCloseButtonClick.emit($event)">
    </span>

    <p-progressSpinner
        *ngIf="modelState === ModelStateEnumEnum.Emulated"
        class="ui-chips-token-icon"
        [strokeWidth]="10"
        [style]="{ width: '15px', height: '15px' }">
    </p-progressSpinner>

    <span
        class="ui-chips-token-label">
        <input
            *ngIf="isEditable"
            class="tag-name-field"
            type="text"
            [attr.size]="(enteredTagName.length + 3) || 1"
            [readonly]="!isEditable"
            [value]="data.name"
            (keyup)="onTagInputKeyUp($event)"
            (change)="OnTagNameEdited.emit($event.target.value)" />

        <div
            *ngIf="!isEditable"
            class="tag-name-text">
            {{ data.name }}
        </div>
    </span>

</div>