p-progressSpinner {
    top: 46% !important;
    right: .4em !important;
}

:host {
    max-width: 100%;
}

.wrapper {
    width: auto !important;
    display: flex;
    padding: 2px 4px;
    color: #fff;
    background-color: rgb(156, 156, 156);
}

.without-margin-for-close-btn .ui-chips-token-label {
    margin-right: 0px !important;
}

.ui-chips-token-icon {
    right: 0 !important;
    margin-top: -.45em !important;
}

.ui-chips-token-label {
    max-width: 100%;
    margin-right: 1.5em;
    font-size: 12px;
}

.tag-name-field {
    width: auto;
    max-width: 80%;
    height: 100%;
    border: none !important;
    background: none !important;
    color: #fff !important;
    padding: 0px !important;

    &:focus {
        outline: none !important;
    }
}

.tag-name-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}