<p-card
    class="card"
    (click)="onCardClick($event)">

    <p-header>
        <ng-content
            select="[card-header]">
        </ng-content>
    </p-header>

    <ng-content
        select="[card-subheader]">
    </ng-content>

    <div class="script-name">
        {{ script.name }}
    </div>

    <p-footer>
        <ng-content
            select="[card-footer]">
        </ng-content>
    </p-footer>

</p-card>