<div class="p-grid">
    <div class="p-col-6 p-sm-8 p-lg-10">
        <app-title>Models</app-title>
    </div>

    <div class="p-col-6 p-sm-4 p-lg-2 flex-end">
        <app-create-model-button
            (OnClick)="onCreateModelButtonClick()">
        </app-create-model-button>
    </div>
</div>

<div class="p-grid p-justify-end">
    <div class="p-col-12 p-sm-6 p-lg-4 p-xl-3">
        <app-filter-multiselect
            (OnSelectionChanged)="onFilterSelectionChanged($event)">
        </app-filter-multiselect>
    </div>

    <div class="p-col-12 p-sm-6 p-lg-3 p-xl-2">
        <app-search-field
            (OnKeyUp)="onSearchFieldKeyUp($event)">
        </app-search-field>
    </div>
</div>

<div class="content">
    <content-loader
        [showIfAsync]="filteredModels$">

        <ng-template let-models="data">
            <app-models-list
                [modelArray]="models"
                (OnModelCardClick)="onModelCardClick($event)">
            </app-models-list>
        </ng-template>

    </content-loader>
</div>