<form [formGroup]="formGroup">
    <div class="p-grid">

        <div class="p-col-12">
            <label  for="name">
                Name <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText
                    placeholder="Type your Name..."
                    id="name"
                    [formControl]="formGroup.controls.name" />

            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.name.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.name.hasError('required')"
                        class="text-danger validation-text">
                        Name is required
                    </span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-sm-10 phone-block">
            <label  for="phone">
                Phone <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <span
                    *ngIf="isPhoneVerified" 
                    class="ui-inputgroup-addon phone-check-addon">
                    <i 
                        class="fas fa-check phone-check-icon"
                        style="line-height: 1.25;">
                    </i>
                </span>

                <input
                    pInputText
                    placeholder="Type your Phone..."
                    id="phone"
                    prefix="+ "
                    [mask]="'(000) 00-000-0000'"
                    [showMaskTyped]="true"
                    [formControl]="formGroup.controls.phone" />
            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.phone.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.phone.hasError('required'); else pattern"
                        class="text-danger validation-text">
                        Phone is required
                    </span>

                    <ng-template
                        #pattern>
                        <span
                            *ngIf="formGroup.controls.phone.hasError('pattern'); else phoneExists"
                            class="text-danger validation-text">
                            Phone is invalid
                        </span>
                    </ng-template>

                    <ng-template
                        #phoneExists>
                        <span
                            *ngIf="formGroup.controls.phone.hasError('phoneExists')"
                            class="text-danger validation-text">
                            Phone already exists
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-sm-2 phone-confirm-block">
            <p-button
                class="confirm-button"
                label="Verify"
                (click)="onVerifyPhoneButtonClick()"></p-button>
        </div>

        <div class="p-col-12">
            <label  for="email">
                Email <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText 
                    placeholder="Ex. pat@example.com"
                    id="email"
                    [formControl]="formGroup.controls.email" />

            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.email.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.email.hasError('required'); else emailNotValid"
                        class="text-danger validation-text">
                        Email is required
                    </span>

                    <ng-template
                        #emailNotValid>
                        <span
                            *ngIf="formGroup.controls.email.hasError('emailNotValid'); else emailExists"
                            class="text-danger validation-text">
                            Email is invalid
                        </span>
                    </ng-template>

                    <ng-template
                        #emailExists>
                        <span
                            *ngIf="formGroup.controls.email.hasError('emailExists')"
                            class="text-danger validation-text">
                            Email is exist
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <label  for="login">
                Login <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText 
                    placeholder="Type your Login..."
                    id="login"
                    [formControl]="formGroup.controls.login" />

            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.login.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.login.hasError('required'); else loginExists"
                        class="text-danger validation-text">
                        Login is required
                    </span>

                    <ng-template
                        #loginExists>
                        <span
                            *ngIf="formGroup.controls.login.hasError('loginExists')"
                            class="text-danger validation-text">
                            Login is required
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-sm-6 password-col">
            <label  for="password">
                Password <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText
                    type="password"
                    placeholder="Type your password..."
                    id="password"
                    [attr.type]="(isPasswordVisible) ? 'text' : 'password'"
                    [formControl]="formGroup.controls.password" />

                <span class="ui-inputgroup-addon">
                    <i
                        class="password-visibility-icon"
                        [ngClass]="(isPasswordVisible) ? 'fas fa-eye-slash text-primary' : 'fas fa-eye text-secondary'"
                        (click)="onPasswordVisibilityButtonClick()"></i>
                </span>
            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.password.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.password.hasError('required')"
                        class="text-danger validation-text">
                        Password is required
                    </span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-sm-6 confirm-password-col">
            <label  for="confirm-password">
                Confirm password <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText
                    type="password"
                    placeholder="Confirm password"
                    id="confirm-password"
                    [formControl]="formGroup.controls.confirmPassword" />
            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.confirmPassword.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.confirmPassword.hasError('required'); else passwordsAreDifferent"
                        class="text-danger validation-text">
                        Confirm passwords is required
                    </span>

                    <ng-template
                        #passwordsAreDifferent>
                        <span
                            *ngIf="formGroup.controls.confirmPassword.hasError('passwordsAreDifferent')"
                            class="text-danger validation-text">
                            Passwords are different
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</form>
