@import "_colors";

.sign-up-form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

.p-grid {
    margin: 0px !important;
}

.p-col-12 {
    padding: 0px;
}

.validation-container {
    min-height: 20px;
}

.validation-text {
    font-size: 11px;
}

.password-visibility-icon {
    &:hover {
        cursor: pointer;
    }
}

// label {
//     color: #5a657c;
//     margin-bottom: 3px ;
// }

@media only screen and (min-width: 576px) {
    .password-col {
        padding-right: 10px;
    }
    
    .confirm-password-col {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .phone-confirm-block {
        margin-top: 0px !important;
    }

    .confirm-button {
        margin-left: auto;
    }
}

.confirm-button {
    margin-left: auto;
}

.sign-up-button {
    margin-top: 25px;
}

.phone-confirm-block {
    padding: 0;
    margin-top: 19px;

    display: flex;
}

.phone-block {
    padding: 0;
}

.phone-check-icon {
    color: $success-color;
}

.phone-check-addon {
    background-color: rgba($success-color, 0.2) !important;
}