<div class="p-grid">
    <div
        *ngFor="let sourceType of sourceTypeArray"
        class="p-col-12 p-sm-6 p-lg-4 p-xl-3">
        <dataset-type-block
            [isSelectable]="true"
            [sourceType]="sourceType"
            (OnClick)="OnSourceTypeCardClick.emit(sourceType)">
        </dataset-type-block>
    </div>
</div>