<div class="name-input">
    <input
        #nameInput
        pInputText
        type="text"
        placeholder="Enter name"
        autofocus
        [formControl]="formGroup.controls.name" /> 

        <div
            class="validation-container">
            <div 
                *ngIf="formGroup.controls.name.touched" 
                class="error-messages">
                <span
                    *ngIf="formGroup.controls.name.hasError('required')"
                    class="text-danger validation-text">
                    Name is required
                </span>
            </div>
        </div>
</div>
