<div
    *ngIf="blockIsVisible"
    class="wrapper k-card-body">
    <div
        *ngFor="let checkbox of attachment.content"
        class="checkbox-wrapper">
        <input
            [attr.id]="checkbox.value"
            type="checkbox"
            kendoCheckBox
            [(ngModel)]="checkbox.isCheck"/>

        <label
            [for]="checkbox.value"
            class="label">{{ checkbox.title }}</label>
    </div>

    <button
        kendoButton
        [primary]="true"
        class="submit-button"
        (click)="onSubmitButtonClick()">
        {{ attachment.title }}
    </button>
</div>