.checkbox-wrapper {
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    * {
        cursor: pointer;
    }
}

.label {
    margin-left: 10px;
}

.submit-button {
    margin-top: 10px;
    width: 100%;
}
