<p-table
    [value]="associationColumn.uniqueRows">

    <ng-template pTemplate="header">
        <tr>
            <th
                width="125">
                Value
            </th>

            <th>
                Association
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
        <tr>
            <td class="text-align-center font-weight-700">
                {{ row.value }}
            </td>

            <td class="dropdown-td">
                <p-dropdown
                    [options]="associationDropdownItems"
                    [(ngModel)]="row.association"
                    (onChange)="OnAssociated.emit($event.value)">
                </p-dropdown>
            </td>
        </tr>
    </ng-template>

</p-table>