<div class="wrapper">
    <p-tabMenu
        [model]="tabs"
        [activeItem]="activeTab">

        <ng-template pTemplate="item" let-container>
            <div class="tab-wrapper">
                <img
                    height="25"
                    [attr.src]="container.icon" />

                {{ container.label }}
            </div>
        </ng-template>

    </p-tabMenu>
</div>