.wrapper {
    margin-bottom: 25px;
}

:host::ng-deep .ui-tabmenu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host::ng-deep .ui-tabmenu {
    overflow-x: auto;
}

.tab-wrapper {
    display: flex;
    align-items: center;
    font-weight: 500;

    img {
        margin-right: 10px;
    }
}