@import "_colors";

th {
    text-align: left;
    
    &:focus {
        outline: none;
    }
}

.caption-wrapper {
    display: flex;

    .actions-wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .caption-wrapper {
        flex-direction: column-reverse;

        .actions-wrapper {
            width: 100%;
            margin: 5px 0px;
        }
    }

    .search {
        max-width: 100% !important;
    }
}

.ui-table-globalfilter-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search {
    width: 100%;
    max-width: 200px;
}

.column {
    text-align: center;
}

.no-data-message-block::ng-deep .ui-message {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.edit-btn {
    float: right;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 640px) {
    .column {
        text-align: left;
    }

    .column-selection {
        background: rgba($primary-color, 0.3) !important;
    }
}