<p-table
    #Table
    [value]="words"
    [globalFilterFields]="filteringFields"
    [paginator]="true"
    [rows]="25"
    [responsive]="true"
    [(selection)]="selectedWords"
    (onRowSelect)="OnSelected.emit($event)"
    (onRowUnselect)="OnUnselected.emit($event)"
    (selectionChange)="onSelectionChanged()">

    <ng-template pTemplate="caption">
        <div class="caption-wrapper">
            <!--<div class="actions-wrapper">
                <dataset-lemmatization-table-actions
                    [isDisabled]="!selectedWords.length"
                    (OnStopWordButtonClick)="OnStopWordButtonClick.emit($event)"
                    (OnLemmatizeButtonClick)="OnLemmatizeButtonClick.emit($event)">
                </dataset-lemmatization-table-actions>
            </div>-->

            <div class="ui-table-globalfilter-container">
                <input
                    class="search"
                    type="text"
                    pInputText
                    size="50"
                    placeholder="Search"
                    (input)="Table.filterGlobal($event.target.value, 'contains')" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th
                *ngIf="isSelectionEnabled"
                width="45"
                class="text-center">
                <p-tableHeaderCheckbox>
                </p-tableHeaderCheckbox>
            </th>

            <th
                [pSortableColumn]="'value'"
                class="text-center">
                Word

                <p-sortIcon [field]="'value'"></p-sortIcon>
            </th>

            <th
                [pSortableColumn]="'lemma'"
                class="text-center">
                Lemma

                <p-sortIcon [field]="'lemma'"></p-sortIcon>
            </th>

            <th
                width="100"
                class="text-center"
                [pSortableColumn]="'isStopWord'">
                <i class="fas fa-stop-circle text-danger"></i>

                <p-sortIcon [field]="'isStopWord'"></p-sortIcon>
            </th>

            <th
                width="90"
                class="text-center">
                Part of Speech
            </th>
        </tr>
    </ng-template>

    <ng-template
        pTemplate="body"
        let-word>
        <tr>
            <td
                *ngIf="isSelectionEnabled"
                class="column column-selection">
                <span class="ui-column-title text-primary">Selection</span>

                <p-tableCheckbox
                    [value]="word">
                </p-tableCheckbox>
            </td>

            <td class="column">
                <span class="ui-column-title">Word</span>

                {{ word.value }}
            </td>

            <td class="column">
                <span class="ui-column-title">Lemma</span>

                {{ word.lemma || '-' }}

                <i
                    class="fas fa-edit edit-btn text-secondary"
                    [pTooltip]="'Edit'"
                    [tooltipPosition]="'top'"
                    (click)="OnLemmatizeButtonClick.emit(word)">
                </i>
            </td>

            <td class="column">
                <span class="ui-column-title">Stop Word</span>

                <i
                    [ngClass]="(word.isStopWord) ? 'fas fa-check text-success' : 'fas fa-times text-danger'"
                    [pTooltip]="(word.isStopWord) ? 'Stop word' : 'Not stop word'"
                    [tooltipPosition]="'top'">
                </i>

                <i
                    class="fas fa-edit edit-btn text-secondary"
                    [pTooltip]="'Edit'"
                    [tooltipPosition]="'top'"
                    (click)="OnStopWordButtonClick.emit(word)">
                </i>
            </td>

            <td class="column">
                <span class="ui-column-title">Part of Speech</span>

                <button
                    pButton
                    class="ui-button-raised"
                    [icon]="'fas fa-sliders-h'"
                    [pTooltip]="'Set Part of Speech'"
                    [tooltipPosition]="'top'"
                    (click)="OnPartOfSpeechButtonClick.emit(word)">
                </button>
            </td>
        </tr>
    </ng-template>

    <ng-template
        pTemplate="emptymessage">
        <tr>
            <td colspan="5">
                <p-message
                    class="no-data-message-block"
                    [severity]="'warn'"
                    [text]="'No data.'">
                </p-message>
            </td>
        </tr>
    </ng-template>
</p-table>