<app-base-step
    [data]="this"
    [headerText]="'Select Texts ✅'"
    [subheaderText]="'Select the columns with your texts. Multiple selected columns will be concatenated'">
    <content-loader [showIf]="previewData">
        <ng-template>
            <app-toolbar
                [modelId]="modelId"
                [sourceType]="sourceType"
                [isDiscardFirstRow]="previewData.hasHeader"
                [delimiter]="previewData.delimiter"
                (OnSettingsUpdated)="onSettingsUpdated()">
            </app-toolbar>

            <dataset-columns-selector
                [maxRowCountToShow]="rowCountToShow"
                [sheets]="previewData.worksheets"
                [sheetDataMap]="previewData.data"
                [isDiscardFirstRow]="previewData.hasHeader"
                [columnTypes]="modelType.datasetColumnTypes"
                (OnColumnSelected)="onColumnSelected($event)"
                (OnSelectionInActiveSheet)="onSelection($event)"
                (OnSheetSelected)="onSheetSelected($event)">
            </dataset-columns-selector>
        </ng-template>
    </content-loader>
</app-base-step>