<user-changing-password-form
    (OnFormInit)="onFormGroupInit($event)">
</user-changing-password-form>

<div class="button-wrapper">
    <button
        *ButtonLoader="saveSubscription"
        pButton
        class="ui-button-raised ui-button-success"
        [icon]="'fas fa-save'"
        [iconPos]="'left'"
        [label]="'Save'"
        (click)="onSaveButtonClick()">
    </button>
</div>