@import "_colors";

:host::ng-deep .selectable-card {
    .ui-card:hover {
        border: solid 1px $primary-color;
        cursor: pointer !important;
    }
}

:host::ng-deep .selected-card {
    .ui-card {
        border: solid 1px $primary-color !important;
    }   
}

:host::ng-deep p-header {
    width: 100%;
    position: relative;
    display: block;

    .selected-icon {
        position: absolute;
        top: 8px;
        right: 5px;
    }
}

:host::ng-deep .ui-card-subtitle {
    text-align: center;
}

.description-txt {
    text-align: center;
    font-size: 13px;
}

.actions_block {
    display: flex;
    justify-content: flex-end;
}

.model-name {
    font-size: 20px;
}

:host::ng-deep .ui-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host::ng-deep .ui-card-content {
    height: 100%;
    flex: 1 1 auto;
}