<p-card
    [subheader]="data.name"
    [class.selectable-card]="isSelectable"
    [class.selected-card]="isSelected"
    (click)="(isSelectable) ? OnCardClick.emit($event) : null">
    <p-header>
        <i
            *ngIf="isSelectable"
            class="fa-lg selected-icon"
            [ngClass]="{
                'fas fa-check-circle text-primary': isSelected,
                'far fa-circle text-secondary': !isSelected
            }">
        </i>

        <ng-content
            select="[card-header]">
        </ng-content>
    </p-header>

    <div class="description-txt text-secondary">
        {{ data.description }}
    </div>

    <ng-content
        select="[card-subheader]">
    </ng-content>

    <p-footer>
        <img
            width="100%"
            [attr.src]="data.iconUrl" />

        <ng-content
            select="[card-footer]">
        </ng-content>
    </p-footer>
</p-card>