<div class="wrapper">
    
    <div
        *ngIf="getFillingProgressPercent() as fillingPercent"
        [class.progress-complete]="(fillingPercent === 100)"
        class="model-filling-progress">
        <div class="progressbar-wrapper">
            <p-progressBar
                [value]="fillingPercent"
                [showValue]="false">
            </p-progressBar>
        </div>

        <i
            *ngIf="(fillingPercent === 100)"
            class="fas fa-check-circle success-progress-icon">
        </i>
    </div>

</div>