@import "_colors";

:host {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.tags-wrapper {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
}

.model-filling-progress {
    width: 100%;
    height: 15px;
    align-items: center;
    display: flex;
    margin-top: 10px;

    &.progress-complete {
        color: $success-color;

        .success-progress-icon {
            opacity: .8;
        }

        &::ng-deep .ui-progressbar {
            border-radius: 4px 0px 0px 4px !important;
            opacity: .5;
        }

        &::ng-deep .ui-progressbar-value {
            border-radius: 4px 0px 0px 4px !important;
            background: $success-color !important;
        }
    }

    .progressbar-wrapper {
        width: 100%;
    }

    ::ng-deep.ui-progressbar {
        height: 3px !important;
    }
}

tag-chip {
    margin: 3px;
}   