<p-multiSelect
    [filter]="false"
    [options]="filteringItems"
    [(ngModel)]="selectedItems"
    (ngModelChange)="OnSelectionChanged.emit($event)">

    <ng-template
        let-value
        pTemplate="selectedItems">

        Filtered by:

        <div
            *ngFor="let modelTypeId of value"
            class="ui-multiselected-item-token ui-corner-all">

            <div
                *ngIf="getModelType(modelTypeId) as modelType"
                class="preview-model-type-icons-wrapper">
                <img
                    height="17"
                    class="model-type-icon"
                    [pTooltip]="modelType.name"
                    [tooltipPosition]="'top'"
                    [attr.src]="modelType.iconUrl" />
            </div>
        </div>

        <i
            *ngIf="!value || value.length === 0"
            class="ui-multiselected-empty-token ui-corner-all text-secondary">
            &nbsp;-No filters-
        </i>

    </ng-template>

    <ng-template
        let-modelType
        pTemplate="item">

        <div class="model-type-wrapper">
            <div class="model-type">
                <img
                    height="20"
                    [attr.src]="modelType.icon" />

                {{ modelType.label }}
            </div>
        </div>

    </ng-template>

</p-multiSelect>