:host::ng-deep .ui-multiselect {
    width: 100%;
}

:host::ng-deep .ui-multiselect-label {
    display: flex;
}

:host::ng-deep .ui-multiselect-item {
    display: flex !important;
    align-items: center !important;
}

.model-type-wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;

    .model-type {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;

        img {
            margin: 0px 5px 0px 10px;
        }
    }
}

.preview-model-type-icons-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .model-type-icon {
        margin-left: 7px;
    }
}
