@import "_colors";

.wrapper {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.welcome-block {
    margin: 3vh 0px 30px 0px;

    h1 {
        font-weight: lighter;
        color: $black-color;
    }
}

button {
    min-width: 100px;
    margin-top: 30px;
}

@media screen and (max-width: 450px) {
    button {
        width: 100%;
        font-size: 20px;
    }
}