<div class="wrapper">
    <div class="welcome-block">
        <h1>
            Sign In
        </h1>
    </div>

    <user-authorization-form
        (OnFormInit)="onAuthFormGroupInit($event)"
        (OnEnterKeyDown)="onSignInButtonClick()">
    </user-authorization-form>

    <button
        *ButtonLoader="authSubscription"
        pButton
        class="ui-button-raised"
        [label]="'Sign in'"
        (click)="onSignInButtonClick()">
    </button>
</div>