<div class="wrapper">

    <user-avatar
        *ngIf="(userData$ | async) as user"
        [userData]="user"
        [size]="128">
    </user-avatar>

    <div>
        <p-button
            [routerLink]="'../Login'"
            [label]="'Sign In'">
        </p-button>

        <p-button
            [routerLink]="'../Registration'"
            [label]="'Sign Up'">
        </p-button>

        
        <p-button
            [routerLink]="'../Chat'"
            [label]="'Chat'">
        </p-button>
    </div>

    <window-chat></window-chat>

</div>