<div class="wrapper">
    <div class="left-actions-wrapper">
        <button
            pButton
            type="button"
            icon="fas fa-chevron-left"
            label="Previous"
            class="ui-button-raised ui-button-secondary">
        </button>
    </div>

    <div class="center-actions-wrapper">
        <button
            pButton
            type="button"
            icon="far fa-trash-alt text-danger"
            class="ui-button-raised">
        </button>
    </div>

    <div class="right-actions-wrapper">
        <button
            pButton
            type="button"
            icon="fas fa-chevron-right"
            iconPos="right"
            label="Skip"
            class="ui-button-raised ui-button-secondary">
        </button>
    </div>
</div>