@import "_colors";

button {
    background: none !important;
    border: none !important;
    color: $black-color !important;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.left-actions-wrapper, .center-actions-wrapper, .right-actions-wrapper {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-actions-wrapper {
    justify-content: flex-start;
}

.center-actions-wrapper {
    justify-content: center;
}

.right-actions-wrapper {
    justify-content: flex-end;
}