:host::ng-deep .ui-card {
    width: 100%;
    height: 250px;
    max-height: 250px;
    border-radius: 6px;
    user-select: none;
}

:host::ng-deep .ui-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host::ng-deep .ui-card-content {
    height: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
}

.content {
    width: 100%;
    height: 100%;
}

:host::ng-deep .ui-card-footer {
    padding: 0px;
}