<p-card>

    <div class="content">
        <ng-template
            ngFor
            let-token
            let-tokenIndex="index"
            [ngForOf]="tokens"
            [ngForTrackBy]="trackById">

            <dataset-token
                [data]="token.value"
                [tag]="getTagById(token.tagId)"
                [tokenIndex]="tokenIndex"
                [isReadonly]="isReadonly"
                [targetTag]="targetTag"
                [tagChipTemplate]="tagChipTemplate"
                (OnClick)="onTokenClick(tokenIndex)">
            </dataset-token>

        </ng-template>
    </div>

    <p-footer>
        <ng-content
            select="[extractor-footer]">
        </ng-content>
    </p-footer>

</p-card>