<div class="wrapper">

    <ng-container
        *ngIf="isShow; else processingTemplate"
        [ngTemplateOutlet]="contentTemplate"
        [ngTemplateOutletContext]="{ data: data }">
    </ng-container>

</div>

<ng-template #processingTemplate>
    <ng-content
        *ngIf="isErrorInObservable; else loadingTemplate"
        select="[observable-error-template]">
    </ng-content>
</ng-template>

<ng-template #loadingTemplate>
    <div class="loader-wrapper">
        <p-progressSpinner></p-progressSpinner>
    </div>    
</ng-template>