.toolbar {
    margin-top: auto;

    display: flex;

    padding-top: 20px;
    padding-bottom: 10px;

    .save-button {
        margin-left: auto;
    }
}

.card-body-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.phone-open-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;

    .arrow-icon {
        font-size: 18px;
        color: #3a3a3a;

        transition: all .3s;
    }

    .arrow-icon-open {
        transform: rotate(180deg);
    }

    .arrow-icon-hidden {
        transform: rotate(0deg);
    }
}


.pc-open-button-wrapper {
    .arrow-icon {
        font-size: 25px;
        color: #3a3a3a;

        transition: all .3s;

        cursor: pointer;

        &:hover {
            color: rgba(#3a3a3a, .8);
        }
    }
}

@media (min-width: 767.98px) {
    .phone-open-button-wrapper {
        display: none;
    }
    

    :host::ng-deep .node-card {
        padding-top: 50px;
    }
}

@media (max-width: 767.98px) {
    .pc-open-button-wrapper {
        display: none;
    }

    :host::ng-deep content-loader {
        height: 78% !important;
    }
}

:host::ng-deep .node-card {
    background-color: rgba(#b6b6ba, .1) !important;
    backdrop-filter: blur(30px);

    width: 100%;
    height: 100%;

    .ui-card-body {
        height: 100%;
        // overflow-y: auto;

        .ui-card-content {
            height: 100%;
        }
    }
}

:host::ng-deep content-loader {
    height: 100%;
}

.form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    overflow: auto;
}

h1 {
    color: #3a3a3a;
    margin-top: 0px;
    font-weight: 500;
    font-size: 32px;
}

app-node-form-editing-toolbar {
    width: 100%;
    display: flex;
}
