<p-card
    [styleClass]="'node-card'">

    <div
        class="card-body-wrapper">
        <div
            class="phone-open-button-wrapper"
            (click)="onHiddenButtonClick()">
            <i
                class="fas fa-chevron-up arrow-icon arrow-icon-open">
            </i>
        </div>

        <div
            class="pc-open-button-wrapper"
            (click)="onHiddenButtonClick()">
            <i
                class="fas fa-chevron-right arrow-icon arrow-icon-open">
            </i>
        </div>


        <div
            [ngSwitch]="node?.type">
            <div
                *ngSwitchCase="NodeTypeEnum.Action">
                <h1>Action 💣</h1>
            </div>

            <div
                *ngSwitchCase="NodeTypeEnum.Condition">
                <h1>Condition 🎯</h1>
            </div>

            <div
                *ngSwitchCase="NodeTypeEnum.Model">
                <h1>Model 🤖</h1>
            </div>
        </div>
        <node-form
            [inputData]="node"
            (OnFormInit)="onFormInit($event)">
        </node-form>

        <div class="toolbar">
            <div
                *ngIf="node.id; then nodeFormEditingToolbar; else nodeFormCreationToolbar"
                node-form-toolbar>
            </div>
        </div>
    </div>
</p-card>

<ng-template
    #nodeFormEditingToolbar>
    <app-node-form-editing-toolbar
        (OnSaveButtonClick)="onEditNodeButtonClick()"
        (OnDeleteButtonClick)="onDeleteNodeButtonClick()">
    </app-node-form-editing-toolbar>
</ng-template>

<ng-template
    #nodeFormCreationToolbar>
    <app-node-form-creation-toolbar
        (OnCreateButtonClick)="onCreateNodeButtonClick()">
    </app-node-form-creation-toolbar>
</ng-template>

