:host ::ng-deep .user-name-li {
    height: auto !important;
    color: rgb(36, 36, 36) !important;
    font-weight: bold !important;
}

:host ::ng-deep .user-email-li {
    height: auto !important;
    color: rgb(78, 78, 78) !important;
    font-weight: lighter !important;
}