@import "_colors";

h1 {
    font-weight: 500;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: $black-color;
}

.content {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        margin: 25px 0px 5px 0px;
        font-weight: 500;
        color: $primary-color;
    }
}

model-creation-form {
    max-width: 300px !important;
}

.settings-wrapper {
    width: 100%;
    max-width: 300px;
    margin: 10px auto 5px auto;
}

.action-buttons-wrapper {
    margin: 10px 0px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin: 0px 5px;
    }
}

@media screen and (max-width: 450px) {
    .action-buttons-wrapper {
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        margin: 0px !important;
        background: rgba(255, 255, 255, .9);
        z-index: 999 !important;

        button {
            width: 100%;
            font-size: 18px;
        }
    }
}