<div class="wrapper">

    <div class="content">
        <h1>Create model 🔥</h1>

        <model-creation-form
            (OnFormInit)="onModelFormGroupInit($event)">
        </model-creation-form>

        <h4>Choose model type</h4>

        <app-model-type-list
            (OnModelTypeSelected)="onModelTypeSelected($event)">
        </app-model-type-list>

        <div
            [ngSwitch]="selectedModelType.id"
            class="settings-wrapper">
            <model-topic-analyzer-settings-form
                *ngSwitchCase="modelTypeEnum.TopicAnalyzer"
                (OnFormInit)="onModelTypeSettingsFormGroupInit($event)">
            </model-topic-analyzer-settings-form>

            <app-model-type-empty-settings
                *ngSwitchDefault
                (OnEmptySettingsInit)="onModelTypeSettingsFormGroupInit($event)">
            </app-model-type-empty-settings>
        </div>
    </div>

    <div class="action-buttons-wrapper">
        <button
            *ButtonLoader="modelCreationSubscription"
            pButton
            [type]="'button'"
            [label]="'Create'"
            [icon]="'fas fa-magic'"
            [iconPos]="'right'"
            [class]="'ui-button-success'"
            (click)="onCreateButtonClick()">
        </button>
    </div>

</div>