<div
    class="wrapper">
    <a [routerLink]="mainLayoutLink">
        <div class="logo_wrapper">
            <app-header-logo></app-header-logo>
        </div>
    </a>

    <div class="horizontal-menu">
        <!--<a
            *ngFor="let menuItem of menuItems"
            class="header-item"
            [routerLink]="menuItem.link"
            [routerLinkActive]="'selected'">
            <div class="icon">{{ menuItem.icon }}</div>
            <div class="text">{{ menuItem.name }}</div>
        </a>-->
    </div>

    <div
        class="user">
        <app-header-user
            (OnClick)="onUserAvatarClick($event)">
        </app-header-user>

        <app-header-user-menu>
        </app-header-user-menu>
    </div>
</div>

<div class="invisible-wrapper"></div>