@import "_colors";

.wrapper {
    width: 100%;
    height: 50px;
    background: rgb(84, 62, 109) url('~/assets/textures/neurons-texture-white.png');
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
}

.invisible-wrapper {
    height: 50px;
}

.logo_wrapper {
    user-select: none;
    margin-right: 15px;

    &:hover {
        opacity: .9;
        cursor: pointer;
    }
}

.horizontal-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .header-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 8px !important;
        margin: 0px 7px;
        border-radius: 3px;
        color: white;

        .icon {
            margin-bottom: 3px;
            margin-right: 5px;
        }

        &:hover {
            opacity: .9;
            cursor: pointer;
            background-color: rgba($color: #ffffff, $alpha: .03);
        }

        &.selected {
            font-weight: 500;
            background-color: rgba($color: #f7dcff, $alpha: .17) !important;
        }
    }
}

.model-creation {
    margin: 0px;
}

.user {
    margin: 0px 15px;
}

@media only screen and (max-width: 576px) {
    .logo_wrapper {
        margin-right: 0px;
    }

    .horizontal-menu {
        justify-content: center;

        .header-item {
            flex-direction: column;
            justify-content: center;
            font-size: 12px;

            .icon {
                font-size: 16px;
                margin-right: 0px;
            }
        }
    }
}