.button-wrapper {
    width: 100%;
    margin: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 450px) {
    button {
        width: 100%;
        font-size: 20px;
    }
}