<content-loader
    [showIf]="formData">

    <ng-template>
        <user-editing-form
            [inputData]="formData"
            (OnFormInit)="onFormGroupInit($event)">
        </user-editing-form>

        <div class="button-wrapper">
            <button
                *ButtonLoader="saveSubscription"
                pButton
                class="ui-button-raised ui-button-success"
                [icon]="'fas fa-save'"
                [iconPos]="'left'"
                [label]="'Save'"
                (click)="onSaveButtonClick()">
            </button>
        </div>
    </ng-template>

</content-loader>