@import "_colors";

:host::ng-deep .clickable-card {
    .ui-card:hover {
        border: solid 1px rgba($primary-color, .4);
        cursor: pointer !important;
    }
}

.actions_block {
    display: flex;
    justify-content: flex-end;
}

.model-name {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

p-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.model-type {
    display: flex;
    align-items: center;
    font-size: 11px;

    img {
        margin-left: 10px;
    }
}

:host::ng-deep .ui-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host::ng-deep .ui-card-content {
    height: 100%;
    flex: 1 1 auto;
}

:host::ng-deep .selected-card {
    .ui-card {
        border: solid 1px $primary-color !important;
    }
}

:host::ng-deep.ui-card-header {
    position: relative;
    padding-bottom: 5px;
}

.is-selected-icon-wrapper {
    position: absolute;
    right: 5px;
    top: 2px;
}

.icon {
    color: $primary-color;
    font-size: 15px;
}
