<p-card
    [ngClass]="{
        'clickable-card': isClickable,
        'selected-card': isSelected
    }"
    (click)="onCardClick($event)">

    <p-header>
        <ng-content
            select="[card-header]">
        </ng-content>

        <div
            *ngIf="isSelected"
            class="is-selected-icon-wrapper">
            <i class="fas fa-check-circle icon"></i>
        </div>
    </p-header>

    <ng-content
        select="[card-subheader]">
    </ng-content>

    <div class="model-name">
        {{ modelData.name }}
    </div>

    <ng-content
        select="[card-body]">
    </ng-content>

    <p-footer>
        <div
            *ngIf="modelType"
            class="model-type text-secondary">

            {{ modelType.name }}

            <img
                height="20"
                [attr.src]="modelType.iconUrl" />
        </div>

        <ng-content
            select="[card-footer]">
        </ng-content>
    </p-footer>

</p-card>