<div
    *ngIf="templateArray?.length >= 1; else noModelsTemplate"
    class="p-grid">
    <div
        *ngFor="let template of templateArray"
        class="p-col-12 p-sm-6 p-md-4 p-lg-3">
        <model-card
            [modelData]="template"
            [isClickable]="true"
            (OnCardClick)="onTemplateCardClick($event, template)">

            <app-template-card-header
                card-subheader
                [templateData]="template"
                (OnMoveToModelsButtonClick)="onMoveToModelsButtonClick(template)"
                (OnDeleteButtonClick)="onDeleteButtonClick(template)">
            </app-template-card-header>

            <span
                card-body
                class="text-secondary">
                {{ template.description }}
            </span>

            <app-template-card-footer
                card-footer
                [template]="template">
            </app-template-card-footer>

        </model-card>
    </div>
</div>

<ng-template #noModelsTemplate>
    <p-message
        [severity]="'info'"
        [text]="'No templates.'">
    </p-message>
</ng-template>