<svg:g
    class="node"
    xmlns="http://www.w3.org/2000/xhtml"

    class="node-svg"
    [ngClass]="{
        'selected-node': isSelected,
        'context-selected-node': isContextSelected
    }">
    <svg:foreignObject
        style="overflow: inherit; position: relative"
        class="foreign-object"
        width="100"
        height="100">

        <xhtml:div
            class="cardContainer"
            xmlns="http://www.w3.org/1999/xhtml"
            (click)="onNodeClick($event)"
            (contextmenu)="onContextMenuClick($event)">

            <label class="node-svg-name">{{ label }}</label>
        </xhtml:div>
    </svg:foreignObject>
</svg:g>
