.node-svg {
    text-align: center;
    cursor: pointer;

    ::ng-deep .cardContainer {

        background-color: #282936;

        width: 70px;
        height: 70px;

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;
  
        transform: rotate(45deg);

        position: absolute;
        left: 15%;
        top: 15%;
    }
}

.selected-node {
    ::ng-deep .cardContainer {
        background-color: #651fb5 !important;
    }
}

.context-selected-node {
    border: 2px solid black;
    font-size: 12px;

    ::ng-deep .cardContainer {
        background-color: rgba(#282936, .6) !important;
    }
}

.node-svg-name {
    color: white;
    cursor: pointer;
    font-size: 12px;

    transform: rotate(-45deg);
}
