@import "_colors";

$border-color: rgb(246, 246, 246);
$table-secondary-bg-color: rgba(0, 0, 0, 0.05);

:host ::ng-deep .ui-chkbox-label {
    font-weight: bold;
}

.wrapper {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .07);
    overflow-x: auto;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    background: #fff;
    table-layout: fixed;

    thead td:first-child {
        border-top: none !important;
        background: $table-secondary-bg-color;
    }

    tbody td:first-child {
        background: $table-secondary-bg-color;
    }
    
    tbody td:not(:first-child) {
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    tfoot td:not(:first-child) {
        text-align: center;
    }

    td {
        border: solid 1px $border-color;
        padding: 10px;
        font-size: 12px;
    }

    .thead-td {
        padding: 10px !important;
        border-top: solid 3px transparent;
        user-select: none;
    }

    .tbody-tr-disabled {
        background-color: rgba($danger-color, 0.07) !important;
    }

    .thead-td-column-selected {
        border-top: solid 3px $primary-color;
        background-color: rgba($primary-color, 0.05);
    }

    .thead-td-label-selected {
        border-top: dashed 3px $success-color;
        background-color: rgba($success-color, 0.05);
        color: $success-color;
    }

    .tbody-td-selected {
        background-color: rgba($primary-color, 0.05);
    }
}

.column-sentence {
    width: 20vw;
}

@media screen and (max-width: 600px) {
    .column-sentence {
        width: 50vw;
    }
}

@media screen and (min-width: 1500px) {
    .column-sentence {
        width: 10vw;
    }
}

:host ::ng-deep .column-selection-checkbox {
    &:hover {
        cursor: pointer;
    }
}

.column-row-index {
    text-align: center;
}

.sheets-cell {
    padding: 0px !important;
    background: $table-secondary-bg-color;
}

.sheets-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}