<div class="wrapper">
    <table
        cellspacing="0"
        cellpadding="0">

        <col class="column-numeric" />

        <col
            span="{{ getSheetRows(selectedSheetIndex)[0].length }}"
            class="column-sentence" />

        <thead>
            <tr>
                <td width="30">&ensp;</td>

                <td
                    *ngFor="let columnEmpty of getSheetRows(selectedSheetIndex)[0]; let columnIndex = index"
                    class="thead-td"
                    [class.thead-td-column-selected]="getColumnSelection(columnIndex) !== datasetColumnTypeEnum.None">

                    <selection-dropdown
                        [selectionId]="getColumnSelection(columnIndex)"
                        [columnTypes]="columnTypes"
                        (OnSelection)="onColumnSelection(columnIndex, $event)">
                    </selection-dropdown>

                </td>
            </tr>
        </thead>

        <tbody>
            <tr
                *ngFor="let rowEmpty of getRowCountArrayToShow(selectedSheetIndex); let rowIndex = index"
                [class.tbody-tr-disabled]="(isDiscardFirstRow && rowIndex === 0)">

                <td
                    width="30"
                    class="text-secondary column-row-index">
                    {{ rowIndex + 1 }}
                </td>

                <td
                    *ngFor="let column of getSheetRows(selectedSheetIndex)[rowIndex]; let columnIndex = index"
                    class="td-sentence"
                    [class.tbody-td-selected]="getColumnSelection(columnIndex) !== datasetColumnTypeEnum.None">
                    {{ column }}
                </td>

            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td
                    class="text-info footer-showing-rows-cell"
                    [attr.colspan]="getSheetRows(selectedSheetIndex)[0].length + 1">
                    <div class="footer-showing-rows-block">
                        Showing {{ getRowCountToShow(selectedSheetIndex) }} out of {{ totalRowCountPerSheet.get(selectedSheetIndex) }} rows
                    </div>
                </td>
            </tr>

            <tr>
                <td
                    class="sheets-cell"
                    [attr.colspan]="getSheetRows(selectedSheetIndex)[0].length + 1">
                    <div class="sheets-wrapper">
                        <sheet-button
                            *ngFor="let sheet of sheets; let sheetIndex = index;"
                            [selectedSheetIndex]="selectedSheetIndex"
                            [isSelected]="(selectedSheetIndex === sheetIndex)"
                            [sheetName]="sheet"
                            (OnSheetButtonClick)="onSheetButtonClick(sheetIndex)">
                        </sheet-button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>