.lemma-wrapper {
    margin-bottom: 10px;

    ul {
        margin: 0px;
    }
}

.footer-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 7px;
    }
}