<div class="lemma-wrapper">
    Enter lemma for word: <strong>{{ targetWord }}</strong>
</div>

<dataset-manual-lemma-field
    [value]="enteredLemma"
    [isAutoFocused]="true"
    (OnValueChanged)="onInputValueChanged($event)">
</dataset-manual-lemma-field>

<p-footer>
    <div class="footer-wrapper">
        <button
            pButton
            type="button"
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCancelButtonClick()">
        </button>

        <button
            pButton
            type="button"
            label="Confirm"
            class="ui-button-raised"
            (click)="onSaveButtonClick()">
        </button>
    </div>
</p-footer>