@media screen and (max-width: 450px) {
    :host::ng-deep .ui-table-caption.ui-widget-header {
        position: sticky !important;
        top: 0px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        z-index: 999 !important;
    }
}