<app-base-step
    [data]="this"
    [headerText]="'Lemmatization and stop words 🔍'"
    [subheaderText]="'Select words and lemmatize them or mark as \'stop word\'. Also you can set Part of Speech for each word in specific context.'">
    <content-loader [showIf]="words">

        <ng-template>
            <dataset-lemmatization-words-table
                [words]="words"
                [isSelectionEnabled]="false"
                (OnPartOfSpeechButtonClick)="onPartOfSpeechButtonClick($event)"
                (OnStopWordButtonClick)="onStopWordButtonClick($event)"
                (OnLemmatizeButtonClick)="onLemmatizeButtonClick($event)">
            </dataset-lemmatization-words-table>
        </ng-template>

    </content-loader>
</app-base-step>