<div class="wrapper">

    <app-loader
        [isLoading]="isLoading">
    </app-loader>

    <div class="schema">
        <app-algorithm-schema
            [tree]="tree"
            [selectedNode]="selectedNode"
            [scriptId]="scriptId"
            (OnNodeSelected)="onNodeSelected($event)">
        </app-algorithm-schema>
    </div>

    <div
        *ngIf="selectedNode"
        class="node-form"
        @nodeFormAnimation>
        <app-node-form
            [node]="selectedNode"
            [scriptId]="scriptId"
            (OnHiddenButtonClick)="onHiddenFormButtonClick()"
            (OnActionComplete)="onActionComplete()">
        </app-node-form>
    </div>

    <div class="toolbar">
        <app-toolbar
            (OnCreateActionNodeButtonClick)="onCreateActionNodeButtonClick()"
            (OnCreateConditionNodeButtonClick)="onCreateConditionNodeButtonClick()"
            (OnCreateModelNodeButtonClick)="onCreateModelNodeButtonClick()">
        </app-toolbar>
    </div>

    <window-chat
        [chatIsOpen]="chatIsOpen">
    </window-chat>
</div>
