$phone-node-form-height: 500px;
$pc-node-form-width: 530px;

.wrapper {
    display: inline;

    .schema {
        height: 100%;
    }

    .node-form {
        position: fixed;
        width: 100%;
        z-index: 99;

        height: $phone-node-form-height;

        transition: all .3s;
    }
    
}

.toolbar {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;

    * {
        margin-top: 5px;
    }
}

@media (max-width: 767.98px) {
    .wrapper {
        .node-form {
            ::ng-deep .node-card {
                border-radius: 20px 20px 0 0;
            }
        }
    //    .node-form-hidden {
    //        bottom: calc(0px - #{$phone-node-form-height});
    //    }

    //    .node-form-open {
    //         bottom: 0;
    //     }
    } 
}

@media (min-width: 767.98px) {
    .wrapper {
        .node-form {
            min-width: 530px;
            height: 100%;
            right: 0;
            top: 0;
            max-width: 530px;

            transition: all .5s;
        }

        // .node-form-hidden {
        //     right: -$pc-node-form-width;
        // }
 
        // .node-form-open {
        //     right: 0;
        //  }
    } 
}

app-node-form-editing-toolbar {
    width: 100%;
    display: flex;
}

app-toolbar {
    display: flex;
    flex-direction: column;
}
