$padding-top-bottom: 25px;

section {
    padding: $padding-top-bottom 15px;
}

@media (min-width: 575.98px) {
    section {
        padding: $padding-top-bottom calc(50% - 270px);
    }
}

@media (min-width: 767.98px) {
    section {
        padding: $padding-top-bottom calc(50% - 360px);
    }
}

@media (min-width: 991.98px) {
    section {
        padding: $padding-top-bottom calc(50% - 480px);
    }
}

@media (min-width: 1199.98px) {
    section {
        padding: $padding-top-bottom calc(50% - 590px);
    }
}