input {
    width: 100%;
}

.p-grid {
    margin: 0px !important;
}

.p-col-12 {
    padding: 0px;
}

.validation-container {
    min-height: 20px;
}

.validation-text {
    font-size: 11px;
}

.password-visibility-icon {
    &:hover {
        cursor: pointer;
    }
}