<form [formGroup]="formGroup">
    <div class="p-grid">
        <div class="p-col-12">
            <div class="text-secondary">
                Login <strong class="text-danger">*</strong>
            </div>
            
            <input
                pInputText
                type="text"
                placeholder="Enter login"
                autofocus
                [formControl]="formGroup.controls.login"
                (keydown)="onKeyDown($event)" />

            <div class="validation-container">
                <div
                    *ngIf="!formGroup.controls.login.valid && formGroup.controls.login.dirty"
                    class="text-danger validation-text">
                    Login is required
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <div class="text-secondary">
                Password <strong class="text-danger">*</strong>
            </div>

            <div class="ui-inputgroup">
                <input
                    pPassword
                    placeholder="Enter password"
                    [attr.type]="(isPasswordVisible) ? 'text' : 'password'"
                    [feedback]="false"
                    [formControl]="formGroup.controls.password"
                    (keydown)="onKeyDown($event)" />

                <span class="ui-inputgroup-addon">
                    <i
                        class="password-visibility-icon"
                        [ngClass]="(isPasswordVisible) ? 'fas fa-eye-slash text-primary' : 'fas fa-eye text-secondary'"
                        (click)="onPasswordVisibilityButtonClick()"></i>
                </span>
            </div>

            <div class="validation-container">
                <div
                    *ngIf="!formGroup.controls.password.valid && formGroup.controls.password.dirty"
                    class="text-danger validation-text">
                    Password is required
                </div>
            </div>
        </div>
    </div>
</form>