<div class="wrapper">
    <!-- <kendo-chat
        [messages]="feed | async"
        [user]="user"
        (sendMessage)="sendMessage($event)">
    </kendo-chat> -->
    <!-- <chat></chat> -->

    <app-window-chat></app-window-chat>
</div> 
