<div class="wrapper">
    <div class="code-input">
        <input
            [formControl]="codeControl"
            pInputText
            placeholder="00-00"
            required
            mask="00 00"
            placeHolderCharacter="#"
            [validation]="true"
            [showMaskTyped]="true"/>


        <div
            class="validation-container">
            <div 
                *ngIf="codeControl.touched" 
                class="error-messages">
                <span
                    *ngIf="codeControl.hasError('required'); else mask"
                    class="text-danger validation-text">
                    Code is required
                </span>

                <ng-template
                    #mask>
                    <span
                        *ngIf="codeControl.hasError('mask')"
                        class="text-danger validation-text">
                        Code is incorrect
                    </span>
                </ng-template>
            </div>
        </div>
    </div>

    <p-button
        label="Verify"
        class="verify-button"
        (click)="onVerifyButtonClick()">
    </p-button>
</div>
