section-container, section {
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}

.header {
    height: 50px;
}

.wrapper {
    width: 100vw;
    height: 100%;
    background: #f3f6f8;

    display: flex;
    flex-direction: column;
}
