<div
    *ngIf="topics.length; else emptyTopicsTemplate"
    class="wrapper">
    <div class="p-grid p-justify-center">
        <div
            *ngFor="let topic of topics; let topicIndex = index"
            class="p-col-12 p-sm-6 p-md-4">
            <model-topic-name-card
                [data]="topic"
                [isNeedToEmitDataOnInit]="false"
                (OnTopicNameChange)="onModelTopicNameChanged($event, topic)">
            </model-topic-name-card>
        </div>
    </div>
</div>

<ng-template #emptyTopicsTemplate>
    <div class="text-secondary font-weight-600 text-align-center">
        No topics
    </div>
</ng-template>