<form [formGroup]="formGroup">
    <div class="p-grid">
        <div class="p-col-12">
            <label for="login">
                Login <strong class="text-danger">*</strong>
            </label>
            
            <input
                pInputText
                id="login"
                type="text"
                placeholder="Type your login..."
                [formControl]="formGroup.controls.login" />

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.login.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.login.hasError('required')"
                        class="text-danger validation-text">
                        Login is required
                    </span>

                    <span
                        *ngIf="formGroup.controls.login.hasError('minLength')"
                        class="text-danger validation-text">
                        Login is too short
                    </span>

                    <span
                        *ngIf="formGroup.controls.login.hasError('maxLength')"
                        class="text-danger validation-text">
                        Login is too long
                    </span>
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <label  for="password">
                Password <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText
                    placeholder="Type your password..."
                    type="password"
                    id="password"
                    [attr.type]="(isPasswordVisible) ? 'text' : 'password'"
                    [formControl]="formGroup.controls.password" />

                <span class="ui-inputgroup-addon">
                    <i
                        class="password-visibility-icon"
                        [ngClass]="(isPasswordVisible) ? 'fas fa-eye-slash text-primary' : 'fas fa-eye text-secondary'"
                        (click)="onPasswordVisibilityButtonClick()"></i>
                </span>
            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.password.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.password.hasError('required')"
                        class="text-danger validation-text">
                        Password is required
                    </span>

                    <span
                        *ngIf="formGroup.controls.password.hasError('minLength')"
                        class="text-danger validation-text">
                        Password is too short
                    </span>

                    <span
                        *ngIf="formGroup.controls.password.hasError('maxLength')"
                        class="text-danger validation-text">
                        Password is too long
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
