<div class="wrapper">
    <ng-template
        ngFor
        [ngForOf]="actionButtons"
        let-actionButton>
        <ng-template
            [ngIf]="getActionButtonRenderState(actionButton)">

            <button
                *ButtonLoader="getActionButtonLoadingState(actionButton)"
                pButton
                [type]="'button'"
                [label]="actionButton.text"
                [icon]="actionButton.iconClass"
                [iconPos]="actionButton.iconPos"
                [ngClass]="actionButton.class"
                (click)="onButtonClick($event, actionButton)">
            </button>

        </ng-template>
    </ng-template>
</div>