<input
    pInputText
    autofocus
    placeholder="Enter delimiter symbol for columns..."
    [(ngModel)]="separator" />

<p-footer>
    <div class="footer-wrapper">
        <button
            pButton
            type="button"
            label="Ok"
            class="ui-button-raised"
            (click)="onOkButtonClick()">
        </button>
    </div>
</p-footer>