:host::ng-deep .ui-chips, :host::ng-deep .ui-inputtext, :host::ng-deep input {
    width: 100%;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}