<app-base-step
    [data]="this"
    [headerText]="'Tag words in your texts 📌'"
    [subheaderText]="'Highlight the information you would like to extract from/in your texts and click confirm. As new texts appear, the model will begin to learn from your criteria.'">
    <div class="p-grid">
        <div class="p-col-12 p-sm-8">
            <app-dataset-extractor-field
                [tags]="tags$ | async"
                [targetTagId]="selectedTag?.id">
            </app-dataset-extractor-field>
        </div>

        <div class="p-col-12 p-sm-4">
            <app-tags-card
                (OnTagSelected)="onTagSelected($event)"
                (OnTagDeleted)="onTagDeleted($event)">
            </app-tags-card>
        </div>
    </div>
</app-base-step>