$primary-color: #327cb9;
$info-color: #69afdc;
$success-color: #158f44;
$danger-color: #c51c24;
$warning-color: #ffcc00;
$secondary-color: #6c757d;

$black-color: rgb(58, 58, 58);

$label-color: #5a657c;
$title: #2e3440;
$background: #eceff4;
