@import "_colors";

// Классы для текста
::ng-deep .text-primary {
    color: $primary-color !important;
}
::ng-deep .text-info {
    color: $info-color !important;
}
::ng-deep .text-success {
    color: $success-color !important;
}
::ng-deep .text-danger {
    color: $danger-color !important;
}
::ng-deep .text-warning {
    color: $warning-color !important;
}
::ng-deep .text-secondary {
    color: $secondary-color !important;
}

// Классы для фона
::ng-deep .bg-primary {
    background-color: $primary-color !important;
}
::ng-deep .bg-info {
    background-color: $info-color !important;
}
::ng-deep .bg-success {
    background-color: $success-color !important;
}
::ng-deep .bg-danger {
    background-color: $danger-color !important;
}
::ng-deep .bg-warning {
    background-color: $warning-color !important;
}