@import '_colors';

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

::ng-deep label {
    color: $label-color !important;
    margin-bottom: 3px ;
}

::ng-deep h1, h2, h3, h4, h5, h6 {
    color: $title !important;
}

::ng-deep h3 {
    color: $title !important;
}
