<div class="wrapper">
    <div class="title-wrapper">
        <div class="title">
            <img
                height="40"
                [attr.src]="(model.isTemplate) ? templateIconLink : modelIconLink" />

            <app-title>{{ model.name }}</app-title>
        </div>
        
        <div class="description">
            <span class="text-secondary">
                {{ model.description }}
            </span>
        </div>
    </div>

    <div class="settings-button-wrapper">
        <button
            *ngIf="!model.isTemplate"
            pButton
            type="button"
            label="Settings"
            icon="fas fa-cog"
            class="ui-button-rounded"
            (click)="onSettingsButtonClick()">
        </button>
    </div>
    
</div>