// <p-menu>
.ui-menuitem {
    .ui-menuitem-link {
        .ui-menuitem-icon {
            width: 20px;
            text-align: center;
        }
    }
}

.ui-menuitem-link, .ui-multiselect-item {
    outline: none;
}