<div class="wrapper">
    <div class="p-grid">
        <div
            [ngClass]="{
                'p-sm-12': phoneHasSended
            }"
            class="p-col-12 p-sm-9">
            <label  for="phone">
                Enter your phone
            </label>
        
            <div class="ui-inputgroup">
                <input
                    pInputText
                    [prefix]="'+ '"
                    [mask]="'(000) 00-000-0000'"
                    [showMaskTyped]="true"
                    [formControl]="phoneControl"
                    placeholder="Type your Phone..."
                    id="phone"
                    autofocus
                    (keyup.enter)="onSendButtonClick()"/>
            </div>
        
            <div
                class="validation-container">
                <div 
                    *ngIf="phoneControl.touched" 
                    class="error-messages">
                    <span
                        *ngIf="phoneControl.hasError('required'); else pattern"
                        class="text-danger validation-text">
                        Phone is required
                    </span>
        
                    <ng-template
                        #pattern>
                        <span
                            *ngIf="phoneControl.hasError('pattern'); else phoneExists"
                            class="text-danger validation-text">
                            Phone is invalid
                        </span>
                    </ng-template>
        
                    <ng-template
                        #phoneExists>
                        <span
                            *ngIf="phoneControl.hasError('phoneExists')"
                            class="text-danger validation-text">
                            Phone is invalid
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>
        
        <div
            *ngIf="!phoneHasSended"
            class="p-col-12 p-sm-3 phone-send-button-wrapper">
            <p-button
                class="phone-send-button"
                label="Send"
                (click)="onSendButtonClick()"></p-button>
        </div>

        <div 
            *ngIf="phoneHasSended"
            class="p-col-4">
            <input
                #codeInput
                [formControl]="codeControl"
                pInputText
                placeholder="00-00"
                required
                mask="00 00"
                placeHolderCharacter="#"
                [validation]="true"
                [showMaskTyped]="true"
                class="code-input"
                (keyup.enter)="onConfirmButtonClick()"/>
    
    
            <div
                class="validation-container">
                <div 
                    *ngIf="codeControl.touched" 
                    class="error-messages">
                    <span
                        *ngIf="codeControl.hasError('required'); else mask"
                        class="text-danger validation-text">
                        Code is required
                    </span>
    
                    <ng-template
                        #mask>
                        <span
                            *ngIf="codeControl.hasError('mask')"
                            class="text-danger validation-text">
                            Code is incorrect
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>

        <div
            *ngIf="phoneHasSended"
            class="p-col-8 code-confirm-button-wrapper">
            <p-button
                class="code-confirm-button"
                label="Confirm"
                (click)="onConfirmButtonClick()"></p-button>
        </div>
    </div>
</div>
