$chat-block-height: 460px;
$chat-color: #543e6d;

.chat-wrapper {
    position: fixed;

    right: 30px;
}

.chat {
    width: 350px;
    height: 460px;
}

.chat-is-close {
    bottom: -$chat-block-height;

    transition: bottom .2s;
}


.chat-is-open {
    bottom: 0;

    transition: bottom .2s;
}

:host::ng-deep .k-chat .k-alt .k-bubble {
    background-color: $chat-color !important;
    border-color: $chat-color !important;
}
