<div
    *ngIf="(chatRoomId$ | async) as chatRoomId"
    [ngClass]="{
        'chat-is-close': !chatIsOpen,
        'chat-is-open': chatIsOpen
    }"
    class="chat-wrapper">
    <app-chat-header
        [chatIsOpen]="chatIsOpen"
        (OnChatOpened)="onChatOpened()"
        (OnChatClosed)="onChatClosed()"></app-chat-header>

    <div class="chat">
        <chat
            [roomId]="chatRoomId"></chat>
    </div>
</div>