.node-svg {
    text-align: center;
    cursor: pointer;

    ::ng-deep .cardContainer {
        width: 80px;
        height: 40px;
        background-color: #eb4634 !important;

        color: #ffffff;
    }
}

.selected-node {
    ::ng-deep .cardContainer {
        background-color: #651fb5 !important;
    }
}

.context-selected-node {
    border: 2px solid black;
    ::ng-deep .cardContainer {
        background-color: rgba(#eb4634, .6) !important;
    }
}

.node-svg-name {
    color: white;
    cursor: pointer;
    font-size: 12px;

    transform: rotate(-45deg);
}
