@import "_colors";

.wrapper {
    height: 100%;

    background-color: $background;
    display: flex;
    justify-content: center;
}

.desert {
    height: 30vh;
    width: 100%;

    background-image: url('/assets/backgrounds/asset-desert.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.login-card {
    height: 100%;
    display: flex;
    align-items: center;

    min-width: 460px;
}

.login-card-body {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

:host::ng-deep .ui-card  {
    height: 100%;
    width: 100%;
    background-color: rgba(216, 222, 233, 0.3);
    border: none;
}

:host::ng-deep .ui-card-body {
    height: 100%;
    padding-top: 100px;
}

:host::ng-deep .ui-card-content {
    height: 100%;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 576px) {

    .login-card {
        min-width: 400px;
    }

}


