<div
    @wrapperAnimation
    class="wrapper">
    <p-card
        class="login-card">
        <div class="login-card-body">
            <router-outlet></router-outlet>
        </div>
    </p-card>

    <div class="desert"></div>
</div>
