@import "_colors";

:host ::ng-deep .ui-card-title {
    font-weight: normal;
    font-size: 18px;
}

:host ::ng-deep .ui-card {
    overflow-x: auto;
}

.actions-wrapper {
    float: right;
    padding: 10px;

    button {
        border: none !important;
        background: none !important;

        &.active {
            background: $primary-color !important;
            color: #fff !important;
        }

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}

.confirm-wrapper {
    width: 100%;
    margin-top: 15px;

    button {
        width: 100%;
    }
}