<p-card
    [header]="'Tags'">

    <p-header>
        <div class="actions-wrapper">
            <button
                pButton
                type="button"
                icon="fas fa-plus"
                class="ui-button-rounded text-secondary"
                (click)="onAddTagButtonClick()">
            </button>
    
            <button
                pButton
                type="button"
                icon="fas fa-pencil-alt"
                class="ui-button-rounded text-secondary"
                [class.active]="isEditMode"
                (click)="onEditTagButtonClick()">
            </button>
        </div>
    </p-header>

    <app-tag-list
        *ngIf="tags; else noTagsTextTemplate"
        [isEditMode]="isEditMode"
        [tags]="tags"
        (OnAddButtonClick)="onAddTagButtonClick()"
        (OnTagSelected)="OnTagSelected.emit($event)"
        (OnTagDeleted)="OnTagDeleted.emit($event)">
    </app-tag-list>

    <div
        *ngIf="isEditMode"
        class="confirm-wrapper">
        <button
            pButton
            type="button"
            label="Confirm"
            class="ui-button-raised"
            (click)="onConfirmButtonClick()">
        </button>
    </div>

</p-card>

<ng-template #noTagsTextTemplate>
    <strong>No tags.</strong>
</ng-template>