@import '_colors';

.wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.sign-in-title {
    margin-top: 150px;
    color: white;
}

.p-grid {
    margin: 0 !important;
    height: 100%;
}

.sign-in-block {
    padding: 0;
}

.title {
    color: $title;
    text-align: center;
}

.user-icon {
    color: $title;
    font-size: 50px;
    text-align: center;
}

.login-button-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    
    #or {
        margin-left: 20px;
        color: $label-color;
    }

    #sign-up-link {
        margin-left: 5px;
    }
}

.forgot-password {
    display: block;
    margin-left: auto;
    color: $label-color;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {

    .login-button-wrapper {
        display: block;
    }

    .forgot-password {
        margin-top: 10px;
    }

}
