<div 
    class="wrapper"
    (keyup.enter)="onSignInButtonClick()">
        <i class="far fa-user-circle user-icon"></i>

        <h1 class='title'>
            Sign In
        </h1>
        <authorization-sign-in-form
            (OnFormInit)="onFormInit($event)">
        </authorization-sign-in-form>

        <div class="login-button-wrapper">
            <p-button
                label="Login"
                (click)="onSignInButtonClick()"></p-button>

            <span id="or">or</span>

            <a
                id="sign-up-link"
                [routerLink]="'/' + AppLayoutEnum.Registration">Sign Up</a>

            <a
                [routerLink]="[LoginPagesEnum.ResetPassword]"
                class="forgot-password">
                <span>Forgot password?</span>
            </a>
        </div>
</div>
