<div class="wrapper">
    <button
        MarkAsForbiddenClick
        pButton
        icon="fas fa-ellipsis-v"
        class="ui-button-rounded ui-button-secondary"
        (click)="onMenuButtonClick($event)">
    </button>

    <p-menu
        #menu
        [appendTo]="'body'"
        [popup]="true"
        [model]="actionsMenuItems">
    </p-menu>
</div>