<div *ngIf="tags?.length; then tagListTemplate; else noTagsTemplate"></div>

<ng-template #tagListTemplate>
    <div
        *ngFor="let tag of tags; let tagIndex = index"
        class="tag-option-wrapper">
        <p-radioButton
            [name]="'tag-option'"
            [value]="tagIndex"
            [disabled]="tag.modelState === modelStateEnum.Emulated"
            [(ngModel)]="selectedTagIndex"
            (ngModelChange)="onTagSelected($event)">
        </p-radioButton>

        <tag-chip
            [data]="tag"
            [isEditable]="isEditMode"
            [isCloseButtonVisible]="isEditMode"
            [modelState]="tag.modelState"
            [pTooltip]="tag.name"
            [tooltipPosition]="'right'"
            (OnTagNameEdited)="onTagNameEdited(tag, $event)"
            (OnCloseButtonClick)="onTagCloseButtonClick(tag)">
        </tag-chip>
    </div>
</ng-template>

<ng-template #noTagsTemplate>
    <strong>Ooops... There is no tags 😳</strong>

    <div class="text-secondary">
        Please click the
        <i
            class="fas fa-plus text-primary plus-icon"
            (click)="OnAddButtonClick.emit($event)"></i>
        button to add some.
    </div>
</ng-template>