<div class="wrapper">
    <div class="p-col-12 password-col">
        <label  for="password">
            Password <strong class="text-danger">*</strong>
        </label>

        <div class="ui-inputgroup">
            <input
                pInputText
                type="password"
                placeholder="Type your password..."
                id="password"
                [attr.type]="(isPasswordVisible) ? 'text' : 'password'"
                [formControl]="passwordControl" />

            <span class="ui-inputgroup-addon">
                <i
                    class="password-visibility-icon"
                    [ngClass]="(isPasswordVisible) ? 'fas fa-eye-slash text-primary' : 'fas fa-eye text-secondary'"
                    (click)="onPasswordVisibilityButtonClick()"></i>
            </span>
        </div>

        <div
            class="validation-container">
            <div 
                *ngIf="passwordControl.touched" 
                class="error-messages">
                <span
                    *ngIf="passwordControl.hasError('required')"
                    class="text-danger validation-text">
                    Password is required
                </span>
            </div>
        </div>
    </div>

    <div class="p-col-12 confirm-password-col">
        <label  for="confirm-password">
            Confirm password <strong class="text-danger">*</strong>
        </label>

        <div class="ui-inputgroup">
            <input
                pInputText
                type="password"
                placeholder="Confirm password"
                id="confirm-password"
                [formControl]="confirmPasswordControl" />
        </div>

        <div
            class="validation-container">
            <div 
                *ngIf="confirmPasswordControl.touched" 
                class="error-messages">
                <span
                    *ngIf="confirmPasswordControl.hasError('required'); else passwordsAreDifferent"
                    class="text-danger validation-text">
                    Confirm passwords is required
                </span>

                <ng-template
                    #passwordsAreDifferent>
                    <span
                        *ngIf="confirmPasswordControl.hasError('passwordsAreDifferent')"
                        class="text-danger validation-text">
                        Passwords are different
                    </span>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="col-12 confirm-button-wrapper">
        <p-button
            class="confirm-button"
            label="Save"
            (click)="onConfirmButtonClick()"></p-button>
    </div>
</div>
