<div class="wrapper">
    <div class="p-grid">
        <div class="p-col-12 p-sm-7 p-lg-9 p-xl-10">
            <app-title>Templates</app-title>
        </div>
    </div>

    <div class="p-grid p-justify-end">
        <div class="p-col-12 p-sm-6 p-lg-4 p-xl-3">
            <app-filter-multiselect
                (OnSelectionChanged)="onFilterSelectionChanged($event)">
            </app-filter-multiselect>
        </div>
    
        <div class="p-col-12 p-sm-6 p-lg-3 p-xl-2">
            <app-search-field
                (OnKeyUp)="onSearchFieldKeyUp($event)">
            </app-search-field>
        </div>
    </div>

    <div class="content">
        <content-loader
            [showIfAsync]="filteredTemplates$">
            
            <ng-template let-templates="data">
                <app-templates-list
                    [templateArray]="templates"
                    (OnTemplateCardClick)="onTemplateCardClick($event)">
                </app-templates-list>
            </ng-template>

        </content-loader>
    </div>
</div>