<p-card
    [ngClass]="isSelectable ? 'selectable-card' : ''"
    (click)="OnClick.emit($event)">
    <div class="wrapper">
        <div class="logo-wrapper">
            <img
                height="75"
                [src]="sourceType.iconLink" />
        </div>

        <span class="source-type-name">
            {{ sourceType.name }}
        </span>
    </div>
</p-card>