@import '_colors';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selectable-card::ng-deep .ui-card {
    &:hover {
        border: solid 1px $primary-color;
        cursor: pointer;
    }
}

.source-type-name {
    font-size: 16px;
    font-weight: lighter;
}