<div class="p-grid">
    <div class="p-col-12 p-sm-6">
        <p-checkbox
            [label]="'Discard first row'"
            [binary]="true"
            [(ngModel)]="isDiscardFirstRow"
            (onChange)="onDiscardFirstRowCheckboxToggle($event)">
        </p-checkbox>
    </div>
    <div class="p-col-12 p-sm-6">
        <div
            *ngIf="sourceType.isHasDelimiterForColumns"
            class="separator-block">
            Delimiter symbol for columns:&nbsp;
            <div
                class="ui-chips-token ui-state-highlight ui-corner-all">
                <span class="ui-chips-token-label">
                    <span
                        class="ui-chips-token-icon fas fa-pencil-alt"
                        (click)="onSeparatorEditButtonClick()">
                    </span>
                    
                    <span class="delimiter-txt">{{ delimiter }}</span>
                </span>
            </div>
        </div>
    </div>
</div>