.toolbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.discard-first-row-block {
    width: 200px;
}

.separator-block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delimiter-txt {
    font-size: 20px;
}