<div
    *ngIf="(chatRoomId$ | async) as chatRoomId"
    [ngClass]="{
        'chat-is-close': chatIsClose,
        'chat-is-open': !chatIsClose
    }"
    class="chat-wrapper">
    <app-chat-header
        (OnChatOpened)="onChatOpened()"
        (OnChatClosed)="onChatClosed()"></app-chat-header>

    <div class="chat">
        <chat
            [roomId]="chatRoomId"></chat>
    </div>
</div>