<p-card>
    <div class="card-wrapper">
        <span
            class="variable-name">
            {{ '$' + variable.name }}
        </span>

        <div class="toolbar">
            <button
                pButton
                type="button"
                class="edit-button"
                icon="fas fa-edit"
                (click)="onEditButtonClick($event)">
            </button>

            <button
                pButton
                class="ui-button-danger"
                type="button"
                icon="fas fa-trash-alt"
                (click)="onDeleteButtonClick($event)">
            </button>
        </div>
    </div>
</p-card>
