.card-wrapper {
    display: flex;
    align-items: center;
}

.toolbar {
    margin-left: auto;
    display: flex;

    .edit-button {
        margin-right: 5px;
    }
}

.variable-name {
    font-size: 16px;
    font-weight: 500;
    color: #4c566a;
}

:host::ng-deep .ui-card-body {
    padding: .5em !important;
}
