@import "_colors";

.sheet {
    max-width: 100px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px transparent;
    font-weight: 300;
    user-select: none;

    &.selected-sheet {
        font-weight: 500;
        color: $primary-color;
        border-bottom: solid 1px $primary-color !important;
    }

    &:hover {
        border-bottom: dotted 1px $primary-color;
        cursor: pointer;
    }
}