:host::ng-deep .ui-button {
    margin-right: .30em;
}

:host::ng-deep .ui-toolbar {
    background-color: #f3f6f8;
}

.ui-toolbar-group-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 576px) {
    ::ng-deep input {
        width: 100%;
    }
}
