<p-toolbar>
    <div class="p-grid">
        <div class="p-col-12 p-sm-6 p-md-6 p-lg-6">
            <div class="ui-toolbar-group-left">
                <button
                    pButton
                    type="button"
                    label="New"
                    icon="pi pi-plus"
                    (click)="onCreateButtonClick($event)">
                </button>
        
                <button
                    pButton
                    type="button"
                    label="Upload"
                    icon="pi pi-upload"
                    class="ui-button-success"
                    (click)="onUploadButtonClick($event)">
                </button>
            </div>
        </div>
        <div class="p-col-12 p-sm-6 p-md-6  p-lg-6">
            <div class="ui-toolbar-group-right">
                <input
                    [(ngModel)]="searchText"
                    pInputText
                    placeholder="Search"
                    autofocus
                    type="text"
                    (keyup)="onSearchChange()">
            </div>
        </div>
    </div>
</p-toolbar>

