@import "_colors";

.wrapper {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: $background;
    display: flex;
    justify-content: center;
    height: 100%;
}

.desert {
    height: 30vh;
    width: 100%;

    background-image: url('/assets/backgrounds/asset-desert.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.sign-up-title {
    margin-top: 150px;
    color: white;
}

.sign-up-card {
    height: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;

    max-width: 700px;
}

.p-grid {
    margin: 0 !important;
    height: 100%;
}

.sign-up-block {
    padding: 0;
}

:host::ng-deep .ui-card  {
    height: 100%;
    background-color: rgba(216, 222, 233, 0.3);
    border: none;
}

.sign-up-card-body {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;

    z-index: 10;
}

:host::ng-deep .ui-card-body {
    height: 100%;
    padding-top: 40px;
}

:host::ng-deep .ui-card-content {
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.title {
    color: $title;
    text-align: center;
}

.user-icon {
    color: $title;
    font-size: 50px;
    text-align: center;
}

.sign-up-button-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    
    #or {
        margin-left: 20px;
        color: $label-color;
    }

    #sign-in-link {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 576px) {

    :host::ng-deep .ui-card-body {
        padding-top: 10px;
    }

}
