<div class="wrapper">

    <p-card
        class="sign-up-card">
        <div class="sign-up-card-body">

            <i class="far fa-user-circle user-icon"></i>

            <h1 class='title'>
                Sign Up
            </h1>

            <authorization-sign-up-form
                [isPhoneVerified]="isPhoneVerified"
                (OnFormInit)="onFormInit($event)"
                (OnPhoneVerify)="onPhoneVerifyButtonClick($event)"></authorization-sign-up-form>

            <div class="sign-up-button-wrapper">
                <p-button
                    *ButtonLoader="signUpSubscription"
                    class="sign-up-button"
                    label="Register"
                    (click)="onSignUpButtonClick()"></p-button>

                <span id="or">or</span>
                <a
                    id="sign-in-link"
                    [routerLink]="'/' + AppLayoutEnum.Login">Sign In</a>
            </div>

        </div>
    </p-card>

    <div class="desert"></div>
</div>

