<div class="wrapper">
    <ng-template [ngIf]="isAnalyzeButtonVisible">
        <button
            *ButtonLoader="analyzeButtonSubscription"
            pButton
            type="button"
            label="Analyze 🧪"
            class="ui-button-raised ui-button-primary analyze-button"
            (click)="OnAnalyzeButtonClick.emit($event)">
        </button>
    </ng-template>

    <button
        *ngIf="isEditButtonVisible"
        pButton
        type="button"
        label="Edit"
        icon="fas fa-pencil-alt"
        class="ui-button-raised ui-button-secondary"
        (click)="OnEditButtonClick.emit($event)">
    </button>
</div>