.wrapper {
    margin: 10px 0px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin: 0px 5px;
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        margin: 0px !important;
        background: rgba(255, 255, 255, .9);

        button {
            width: 100%;
            font-size: 18px;
        }
    }
}