<div
    *ngIf="scripts?.length >= 1; else noScriptsTemplate"
    class="p-grid">
    <div
        *ngFor="let script of scripts"
        class="p-col-12 p-sm-6 p-md-4 p-lg-3">
        <script-card
            [script]="script"
            (OnCardClick)="onCardClick($event, script)">

            <app-script-card-header
                card-subheader
                [scriptState]="script?.modelState || ScriptStateEnum.Created"
                (OnEditButtonClick)="onEditButtonClick(script)"
                (OnDeleteButtonClick)="onDeleteButtonClick(script)">
            </app-script-card-header>
        </script-card>
    </div>
</div>

<ng-template #noScriptsTemplate>
    <p-message
        [severity]="'info'"
        [text]="'You don\'t have any script.'">
    </p-message>
</ng-template>
