<div
    *ngIf="modelArray?.length >= 1; else noModelsTemplate"
    class="p-grid">
    <div
        *ngFor="let model of modelArray; trackBy: trackByFunction"
        class="p-col-12 p-sm-6 p-md-4 p-lg-3">
        <model-card
            [modelData]="model"
            [isClickable]="true"
            (OnCardClick)="onModelCardClick($event, model)">

            <app-model-card-header
                card-subheader
                [modelData]="model"
                (OnMoveToTemplatesButtonClick)="onMoveToTemplatesButtonClick(model)"
                (OnRenameButtonClick)="onModelRenameButtonClick(model)"
                (OnDeleteButtonClick)="deleteModel(model)">
            </app-model-card-header>

            <div
                card-body
                class="description-txt text-secondary">
                {{ model.description }}
            </div>

            <app-model-card-footer
                card-footer
                [model]="model">
            </app-model-card-footer>

        </model-card>
    </div>
</div>

<ng-template #noModelsTemplate>
    <p-message
        [severity]="'info'"
        [text]="'No models.'">
    </p-message>
</ng-template>