:host::ng-deep .ui-message {
    width: 100%;
}

:host::ng-deep .ui-card {
    height: 100%;
}

:host::ng-deep .ui-card-footer {
    height: 100%;
    padding-top: 30px;
}

.description-txt {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis !important;
}