<div
    *ngIf="!data.isPageInitWithError; else pageInitErrorMessageTemplate"
    class="wrapper">
    <content-loader [showIfAsync]="data.openedModel$">

        <ng-template let-modelData="data">
            <app-model-title
                [model]="modelData">
            </app-model-title>
    
            <div class="content">
                <div class="p-grid">
                    <div class="p-col-12 p-sm-12 p-lg-8">
                        <ng-content
                            select="[input-template]">
                        </ng-content>
                    </div>
    
                    <div class="p-col-12 p-sm-12 p-lg-4">
                        <ng-content
                            select="[output-template]">
                        </ng-content>
                    </div>
                </div>
            </div>
    
            <app-action-buttons
                [analyzeButtonSubscription]="analyzeSubscription"
                [isAnalyzeButtonVisible]="!data.outputData"
                [isEditButtonVisible]="!!data.outputData"
                (OnAnalyzeButtonClick)="onAnalyzeButtonClick()"
                (OnEditButtonClick)="onEditButtonClick()">
            </app-action-buttons>
        </ng-template>
    
        <app-no-data-block
            observable-error-template>
        </app-no-data-block>
    
    </content-loader>
</div>

<ng-template #pageInitErrorMessageTemplate>
    <app-page-init-error-message>
    </app-page-init-error-message>
</ng-template>