<app-base-step
    [data]="this"
    [headerText]="'Accuracy in test'">
    <content-loader [showIf]="trainingResult">

        <ng-template>
            <h1
                *ngIf="trainingResult.accuracyPercent"
                class="text-align-center text-success">
                {{ trainingResult.accuracyPercent }}
            </h1>

            <div
                *ngIf="!trainingResult.accuracyPercent"
                class="model-not-trained-message-wrapper">
                <p-message
                    severity="warn"
                    text="The model has not been trained! Please train the model to get accuracy result!">
                </p-message>
            </div>
        </ng-template>

    </content-loader>
</app-base-step>