<app-base-step
    [data]="this"
    [headerText]="'Topics 📚'"
    [subheaderText]="'Enter the names of topics looking at the words each of them'">
    <content-loader [showIf]="topics">

        <ng-template>
            <app-topic-list
                [topics]="topics"
                (OnTopicNameChange)="onTopicNameChanged($event)">
            </app-topic-list>
        </ng-template>

    </content-loader>
</app-base-step>