<form
    [formGroup]="formGroup">
    <div class="p-grid">
        <div class="p-col-12">
            <div class="text-secondary">
                Name <strong class="text-danger">*</strong>
            </div>
        
            <input
                pInputText
                autofocus
                type="text"
                size="30"
                placeholder="Enter model name"
                [formControl]="formGroup.controls.name" />
        </div>

        <div class="p-col-12">
            <div class="text-secondary">
                Description
            </div>

            <textarea
                pInputTextarea
                placeholder="Enter model description"
                [formControl]="formGroup.controls.description">
            </textarea>
        </div>
    </div>
</form>