<form [formGroup]="formGroup">
    <div class="p-grid">
        <div class="p-col-12 libraries-column">
            <label for="tool">
                Tool
            </label>

            <p-selectButton
                name="tool"
                [options]="modelLibrariesAsSelectItems"
                [formControl]="formGroup.controls.toolId">
            </p-selectButton>

            <div
                *ngIf="getSelectedLibrary() as selectedLibrary"
                class="text-info library-description">
                <img
                    width="56"
                    [src]="selectedLibrary.iconUrl"
                    [alt]="selectedLibrary.name" />
                {{ selectedLibrary.description }}
            </div>
        </div>

        <div
            *ngIf="getSelectedLibrary().isNumberOfTopicsAvailable"
            class="p-col-12">
            <label for="login">
                Number of topics
            </label>
            
            <input
                pInputText
                type="number"
                placeholder="Enter number of topics"
                [formControl]="formGroup.controls.numberTopics" />
        </div>
    </div>
</form>