input {
    width: 100%;
}

.libraries-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p-selectButton::ng-deep .ui-selectbutton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .ui-button {
        width: 100%;
        display: block !important;
    }
}

.library-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 5px 5px;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;

    img {
        margin: 10px;
    }
}