<div class="wrapper">
    <div class="p-grid p-justify-center">
        <div
            *ngFor="let modelType of modelTypes"
            class="p-col-7 p-sm-6 p-md-3 p-lg-2 column">
            <model-type-card
                [isSelectable]="true"
                [isSelected]="(modelType.id === selectedModelTypeId)"
                [data]="modelType"
                (OnCardClick)="onModelTypeCardClick(modelType)">
            </model-type-card>
        </div>
    </div>
</div>