:host {
    max-width: 100% !important;
}

:host::ng-deep .ui-message {
    width: 100%;
}

:host::ng-deep .ui-card {
    height: 100%;
}

:host::ng-deep .ui-card-footer {
    height: 100%;
}

@media screen and (max-width: 575px) {
    .wrapper {
        max-width: 100%;
        padding: 10px;
        margin: auto;
        overflow-x: scroll;
    }

    .p-grid {
        justify-content: flex-start !important;
        flex-wrap: nowrap;
    }
}