<app-base-predict-page
    [data]="this">

    <div input-template>
        <textarea
            #RawTextInput
            pInputTextarea
            class="raw-text-input"
            placeholder="Enter raw text to analyze"
            [disabled]="!!outputData"
            [(ngModel)]="inputData">
        </textarea>
    </div>

    <div output-template>
        <p-card>
            <model-sentiment-analysis-block
                *ngIf="outputData; else noAnaliticsDataTemplate"
                [analysisData]="outputData">
            </model-sentiment-analysis-block>
        </p-card>

        <ng-template #noAnaliticsDataTemplate>
            <strong>No data.</strong>
        </ng-template>
    </div>

</app-base-predict-page>