
<div
    class="wrapper"
    (keydown.enter)="onCreateButtonClick()">

    <app-title>Create variable 📋</app-title>    

    <div class="variable-form">
        <variable-form-creation
            (OnFormInit)="onFormInit($event)">
        </variable-form-creation>
    </div>

    <div class="toolbar">
        <button
            pButton
            type="button"
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCloseButtonClick()">
        </button>

        <p-button
            label="Create"
            class="create-button"
            (click)="onCreateButtonClick()">
        </p-button>
    </div>
</div>

