:host::ng-deep input {
    width: 100%;
}

.variable-form {
    padding-top: 20px;
}

.toolbar {
    margin-top: 20px;

    display: flex;
    justify-content: flex-end;

    .create-button {
        padding-left: 5px;
    }
}
