<div
    class="wrapper"
    (click)="onHeaderClick()">

    <span
        class="chat-title">
        Chat
    </span>

    <div
        *ngIf="chatIsOpen; else newMessagesCount"
        class="icon-button"
        (click)="onCloseButtonClick($event)">
        <i 
            class="fas fa-times close-icon">
        </i>
    </div>
</div>

<ng-template #newMessagesCount>
    <div class="messages-count">5</div>
</ng-template>

