<dataset-extractor-field
    [isReadonly]="!targetTagId"
    [sentence]="sentence"
    [tags]="tags"
    [targetTagId]="targetTagId">

    <ng-template
        #TagChipTemplate
        let-tag="tag">
        <tag-chip
            [data]="tag"
            [isCloseButtonVisible]="false"
            [modelState]="modelStateEnum.Created"
            [maxWidth]="'70px'"
            [pTooltip]="tag.name"
            [tooltipPosition]="'top'">
        </tag-chip>
    </ng-template>

    <div
        extractor-footer
        class="footer-wrapper">
        <app-extractor-footer>
        </app-extractor-footer>
    </div>

</dataset-extractor-field>