<div
    @wrapperAnimation
    class="wrapper">
    <app-toolbar
        (OnCreateButtonClick)="onCreateVariableButtonClick()"
        (OnSearchTextChanged)="onSearchTextChanged($event)">
    </app-toolbar>

    <div class="content">
        <content-loader
            [waitingForObservable]="script$">
            <ng-template
                let-script="data">
                <app-variables-list
                    [variables]="script.variables | variableFilter:searchText"
                    (OnEditButtonClick)="onEditVariableButtonClick($event)"
                    (OnDeleteButtonClick)="onDeleteVariableButtonClick($event)">
                </app-variables-list>
            </ng-template>
        </content-loader>
    </div>
</div>
