button {
    width: 34px !important;
    height: 34px !important;
    padding: 5px !important;
    background: rgba(0, 0, 0, 0.02) !important;
    border: none !important;
    color: rgb(121, 121, 121) !important;
}