<div class="wrapper">
    <div class="form-name">
        <input
            #nameInput
            [formControl]="formGroup.controls.name"
            placeholder="Name"
            type="text"
            pInputText />

        <div
            class="validation-container">
            <div 
                *ngIf="formGroup.controls.name.touched" 
                class="error-messages">
                <span
                    *ngIf="formGroup.controls.name.hasError('required')"
                    class="text-danger validation-text">
                    Name is required
                </span>
            </div>
        </div>
    </div>
</div>
