@import "./app/styles/colors-styles";
@import "./app/styles/prime-ng-styles/input-styles.scss";

html, body {
    height: 100vh;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
