<div class="wrapper">
    <h1 class='title'>
        Reset password
    </h1>

    <div *ngIf="!codeHasConfirmed; then confirm; else save">
    </div>


    <a
        [routerLink]="['/' + AppLayoutEnum.Login]"
        class="forgot-password">
        <span>Back to sign in</span>
    </a>
</div>

<ng-template
    #confirm>
    <app-confirmation-block
        (OnPhoneSended)="onPhoneSended($event)"
        (OnCodeConfirmed)="onCodeConfirmed($event)"></app-confirmation-block>
</ng-template>

<ng-template
    #save>
    <app-create-password
        [phone]="phone"
        (OnPasswordSave)="onPasswordSended($event)"></app-create-password>
</ng-template>
