<div class="wrapper">
    <script-action-selector
        [formControl]="formGroup.controls.type">
    </script-action-selector>

    <div class="message-text-input">
        <textarea
            [formControl]="formGroup.controls.text"
            placeholder="Message text"
            pInputTextarea>
        </textarea>
    </div>

    <div
        [ngSwitch]="formGroup.controls.type.value"
        class="action-data-wrapper">
        <div
            *ngSwitchCase="ActionEnum.Text">
            <script-text-action-form
                [formControl]="formGroup.controls.data">
            </script-text-action-form>
        </div>

        <div
            *ngSwitchDefault>
            anything else
        </div>
    </div>
</div>
