.footer-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 7px;
    }
}

:host::ng-deep .ui-message {
    width: 100%;
    margin-bottom: 5px;
}

:host::ng-deep .ui-card {
    height: auto !important;
    max-height: none !important;
}

.extractor-wrapper {
    margin-bottom: 15px;
}

.tag-wrapper {
    &:hover {
        cursor: pointer;
    }
}