<content-loader [showIf]="contexts">
    <ng-template>

        <div
            *ngFor="let context of contexts; let contextIndex = index;"
            class="extractor-wrapper">
            <dataset-extractor-field
                [isReadonly]="true"
                [tags]="tags"
                [tokens]="context">

                <ng-template
                    #TagChipTemplate
                    let-tag="tag"
                    let-tokenIndex="tokenIndex">
                    <div
                        class="tag-wrapper ui-chips-token ui-state-highlight ui-corner-all"
                        [style.backgroundColor]="tag.color"
                        (click)="onTagClick($event, contextIndex, tokenIndex)">
                        {{ tag.name }}
                        <i class="far fa-edit"></i>
                    </div>
                </ng-template>

            </dataset-extractor-field>
        </div>

    </ng-template>
</content-loader>

<p-footer>
    <div class="footer-wrapper">
        <button
            pButton
            type="button"
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCancelButtonClick()">
        </button>

        <button
            pButton
            type="button"
            label="Confirm"
            class="ui-button-raised"
            (click)="onSaveButtonClick()">
        </button>
    </div>
</p-footer>

<p-menu
    [model]="partOfSpeechMenuItems"
    [popup]="true"
    [appendTo]="'body'">
</p-menu>