<svg:g
    class="node"
    xmlns="http://www.w3.org/2000/xhtml"
    width="80"
    height="40"
    class="node-svg"
    [ngClass]="{
        'selected-node': isSelected,
        'context-selected-node': isContextSelected
    }">
    <svg:foreignObject
        width="80"
        height="40"
        (click)="onNodeClick($event)"
        (contextmenu)="onContextMenuClick($event)">
        <xhtml:div
            class="cardContainer"
            xmlns="http://www.w3.org/1999/xhtml">
        <label class="node-svg-name">{{ label }}</label>
        </xhtml:div>
    </svg:foreignObject>
</svg:g>

