.node-svg {
    text-align: center;
    cursor: pointer;

    ::ng-deep .cardContainer {
        width: 80px;
        height: 40px;
        background-color: #eb8934 !important;
        border-radius: 10px;

        color: #ffffff;
    }
}

.selected-node {
    ::ng-deep .cardContainer {
        background-color: #651fb5 !important;
    }
}

.context-selected-node {
    border: 2px solid black;

    ::ng-deep .cardContainer {
        background-color: rgba(#eb8934, .6) !important;
    }
}

.node-svg-name {
    font-size: 12px;
    cursor: pointer;
}
