<div class="wrapper">
    <div *ngIf="codeHasConfirmed; then reset; else confirmation"></div>
</div>

<ng-template
    #confirmation>
    <!-- <confirmation-block
        (OnPhoneSended)="onPhoneSendButtonClick($event)"
        (OnCodeConfirmed)="onCodeConfirmButtonClick($event)">
    </confirmation-block> -->
</ng-template>

<ng-template
    #reset>
    <!-- <create-password
        (OnPasswordSave)="onPasswordSaveButtonClick($event)"></create-password> -->
</ng-template>
