.p-grid {
    margin: 0px !important;
}

.p-col {
    padding: 0px;
}

.validation-container {
    min-height: 20px;
}

.validation-text {
    font-size: 11px;
}

.phone-send-button-wrapper {
    display: flex;
}

.phone-send-button {
    padding: 0;
    margin-top: 19px;

    margin-left: auto;
}


@media only screen and (max-width: 576px) {
    .phone-send-button {
        margin-top: 0px !important;
    }
}

.code-input {
    width: 65px;
}

.code-confirm-button-wrapper {
    display: flex;
}

.code-confirm-button {
    margin-left: auto;
}
