@import "_colors";

.wrapper {
    max-width: 500px;
    margin: auto;
}

.column-type-text {
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: $black-color;
}

.footer-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 7px;
    }
}