<content-loader [showIf]="associationColumn">
    <ng-template>

        <div class="wrapper">
            <div class="column-type-text text-primary">
                {{ columnType.name }}
            </div>
            
            <dataset-column-association-table
                [associationColumn]="associationColumn"
                [associationDropdownItems]="associationDropdownItems">
            </dataset-column-association-table>
        </div>

        <p-footer>
            <div class="footer-wrapper">
                <button
                    *ButtonLoader="savingSubscription"
                    pButton
                    type="button"
                    label="Save"
                    class="ui-button-raised"
                    (click)="onSaveButtonClick()">
                </button>
            </div>
        </p-footer>

    </ng-template>
</content-loader>