<p-contextMenu
    [global]="false"
    [model]="contextItems"
    (onHide)="onContextHide()">
</p-contextMenu>

<p-overlayPanel>
    <ng-template pTemplate>
        Content
    </ng-template>
</p-overlayPanel>


<div
    #wrapper
    class="wrapper"
    (click)="onContextMenuClose()">
    <ngx-graph
        class="chart-container"
        [links]="edges"
        [nodes]="nodes"
        [curve]="curve"
        [layoutSettings]="layoutSettings"
        [draggingEnabled]="draggingEnabled"
        [enableZoom]="true">

        <ng-template #nodeTemplate let-node>
            <svg
                [ngSwitch]="node.type">
                <g
                    *ngSwitchCase="NodeTypeEnum.Condition"
                    script-condition-template
                    [isSelected]="selectedNode?.id === node.id"
                    [isContextSelected]="contextSelectedNode?.id === node.id"
                    [label]="node.label"
                    (click)="onNodeClick(node)"
                    (OnContextMenuClick)="onNodeRightClick($event, node)"
                    (OnContextMenuSelect)="onContextMenuSelect($event, node)">
                </g>

                <g
                    *ngSwitchCase="NodeTypeEnum.Action"
                    script-action-template
                    [isSelected]="selectedNode?.id === node.id"
                    [isContextSelected]="contextSelectedNode?.id === node.id"
                    [label]="node.label"
                    (click)="onNodeClick(node)"
                    (OnContextMenuClick)="onNodeRightClick($event, node)"
                    (OnContextMenuSelect)="onContextMenuSelect($event, node)">
                </g>

                <g
                    *ngSwitchCase="NodeTypeEnum.Model"
                    script-model-template
                    [isSelected]="selectedNode?.id === node.id"
                    [isContextSelected]="contextSelectedNode?.id === node.id"
                    [label]="node.label"
                    (click)="onNodeClick(node)"
                    (OnContextMenuClick)="onNodeRightClick($event, node)"
                    (OnContextMenuSelect)="onContextMenuSelect($event, node)">
                </g>
            </svg>
        </ng-template>

        <ng-template #defsTemplate>
            <svg>
                <g script-arrow-template></g>
            </svg>
        </ng-template>

        <ng-template #linkTemplate let-link>
            <svg>
                <g
                    script-link-template
                    [link]="link">
                </g>
            </svg>
        </ng-template>
    </ngx-graph>
</div>
