.wrapper {
    height: 100%;
    width: 100%;
    user-select: none;

    position: relative;
}

.template-wrapper {
    width: 160px;
    height: 23px;
}

.label {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

:host::ng-deep .ui-organizationchart-node-content  {
    cursor: pointer;
}

.chart-container {
    width: 100%;
    height: 100%;
}

.node-svg-name {
    color: white;
    cursor: pointer;
}

:host::ng-deep .ui-contextmenu {
    position: fixed !important;
}

.node-svg {
    text-align: center;
    cursor: pointer;

    ::ng-deep .cardContainer {
        width: 80px;
        height: 40px;
        background-color: #543E6D !important;

        border-radius: 50%;
    }
}

.selected-node {
    ::ng-deep .cardContainer {
        background-color: #a38abf !important;
    }
}

.context-selected-node {
    border: 2px solid black;
    ::ng-deep .cardContainer {
        background-color: #8a7cf7 !important;
    }
}

::ng-deep svg {
    overflow: inherit !important;
}
