<p-table
    [value]="analysisData">
    <ng-template pTemplate="header">
        <tr>
            <th>Topic</th>
            <th>Confidence (%)</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
        <tr>
            <td>
                {{ item.topicName }}
            </td>

            <td class="text-center">
                {{ item.confidencePercent | toFixed:2 }}%
            </td>
        </tr>
    </ng-template>
</p-table>