<div
    class="wrapper"
    (keydown.enter)="onCreateButtonClick()">
    <app-title>Create script 🔥</app-title>

    <div class="script-form">
        <script-creation-form
            (OnFormInit)="onFormGroupInit($event)">
        </script-creation-form>
    </div>

    <div class="toolbar">
        <button
            pButton
            type="button"
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCloseButtonClick()">
        </button>

        <p-button
            label="Create"
            class="create-button"
            (click)="onCreateButtonClick()">
        </p-button>
    </div>
</div>
