<kendo-chat
    [messages]="messages$ | async"
    [user]="user"
    (sendMessage)="onSendButtonClick($event)"
    (executeAction)="onExecuteAction($event)">

    <ng-template kendoChatAttachmentTemplate let-att>

        <ng-container [ngSwitch]="att.contentType">
            <checkbox
                *ngSwitchCase="'checkboxes'"
                [attachment]="att"
                (OnSubmit)="onSubmitAction($event)">
            </checkbox>

        </ng-container>
    </ng-template>
</kendo-chat>