.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-image: url('~/assets/backgrounds/auth-bg.jpg');
    background-size: cover;
    background-position-y: 10vh;
    background-repeat: no-repeat;
}