<div class="wrapper">
    <div
        class="arrow-left-button-wrapper"
        (click)="onArrowLeftClick()">
        <i class="fas fa-arrow-left arrow-left-button"></i>
    </div>

    <div
        #modelCardsWrapper
        class="model-cards-wrapper">
        <model-card
            *ngFor="let model of models"
            [modelData]="model"
            [isSelectable]="true"
            class="model-card"
            (OnCardSelect)="onModelSelect(model)"
            (OnCardUnselect)="onModelUnselect(model)">
        </model-card>
    </div>

    <div
        class="arrow-right-button-wrapper"
        (click)="onArrowRightClick()">
        <i
            class="fas fa-arrow-right arrow-right-button"></i>
    </div>
</div>
