$block-height: 115px;

.wrapper {
    position: relative;
    display: flex;
    overflow: hidden;

    align-items: center;
}

.model-card {
    margin-right: 10px;
}

.arrow-right-button-wrapper, .arrow-left-button-wrapper {
    width: 20px;
    height: $block-height;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: #eceff4;
    border: 1px solid #e5e9f0;

    &:hover {
        background-color: #e5e9f0;
        border-color: #d8dee9;
    }
}

.arrow-left-button, .arrow-right-button {
    color: #4c566a;
    font-size: 15px;
}

.arrow-right-button-wrapper  {
    right: 0;
    border-radius: 0px 4px 4px 0px;
}

.arrow-left-button-wrapper {
    border-radius: 4px 0px 0px 4px;
}


.model-cards-wrapper {
    width: calc(100% - 15px);
    height: 115px;
    display: flex;

    overflow-x: scroll;
    overflow-y: hidden;

    scroll-behavior: smooth;

    ::ng-deep .ui-card {
        height: 100%;
        min-width: 150px;
    }
}

.model-cards-wrapper::-webkit-scrollbar {
    display: none;
}
  

.model-cards-wrapper  {
    -ms-overflow-style: none;
}

::ng-deep .ui-card  {
    min-height: $block-height !important;
}
