.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .emoji {
        font-size: 56px;
    }

    .description {
        margin-top: 10px;
        font-size: 32px;
    }
}