@import "_colors";

// $bg-color:      rgb(36, 142, 212);
// $border-color:  rgb(30, 105, 128);

$bg-color:      rgb(62, 169, 240);
$border-color:  rgb(30, 105, 128);

button {
    background: $bg-color;
    border: solid 1px $border-color;
    font-weight: bold;

    &:hover {
        background: $bg-color !important;
        border: solid 1px $border-color !important;
    }
}

:host ::ng-deep .ui-button-icon-left {
    opacity: .8;
}