<div
    *ngIf="variables.length; else noVariables"
    class="wrapper">
    <div
        *ngFor="let variable of variables"
        class="variable-card-wrapper">
        <variable-card
            [variable]="variable"
            class="variable-card"
            (OnEditButtonClick)="onEditButtonClick(variable)"
            (OnDeleteButtonClick)="onDeleteButtonClick(variable)">
        </variable-card>
    </div>
</div>

<ng-template
    #noVariables>
    <div class="no-variable-message-wrapper">
        <p-message
            class="no-variable-message"
            [severity]="'info'"
            [text]="'You don\'t have any variable.'">
        </p-message>
    </div>
</ng-template>
