.variable-card-wrapper:first-of-type {
    margin-top: 20px;
}

.variable-card-wrapper {
    margin-top: 10px;
}

.no-variable-message-wrapper {
    margin-top: 20px;
    width: 100%;
}

:host::ng-deep .ui-message {
    width: 100%;
}
