<div
    *ngIf="scriptState === ScriptStateEnum.Created; else loadingTemplate"
    class="wrapper">
    <button
        MarkAsForbiddenClick
        pButton
        icon="fas fa-ellipsis-v"
        class="ui-button-rounded ui-button-secondary"
        (click)="onMenuButtonClick($event)">
    </button>

    <p-menu
        #menu
        [appendTo]="'body'"
        [popup]="true"
        [model]="actionsMenuItems">
    </p-menu>
</div>

<ng-template #loadingTemplate>
    <div class="progress-wrapper">
        <p-progressSpinner
            [strokeWidth]="10"
            [style]="{ width: '15px', height: '15px' }">
        </p-progressSpinner>
    </div>
</ng-template>