.wrapper {
    display: flex;
    justify-content: flex-end;
}

button {
    background: none !important;
    border: none !important;
    color: rgb(141, 141, 141) !important;
}

.progress-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

p-progressSpinner {
    margin: 8px;
}
