<div [innerHTML]="data.message | safeHtml"></div>

<p-footer>
    <div class="footer-wrapper">
        <button
            pButton
            type="button"
            label="Cancel"
            class="ui-button-secondary"
            (click)="closeWithResult(false)">
        </button>

        <button
            pButton
            type="button"
            label="Confirm"
            class="ui-button-raised"
            (click)="closeWithResult(true)">
        </button>
    </div>
</p-footer>