<form [formGroup]="formGroup">
    <div class="p-grid">

        <div class="p-col-12 p-sm-6">
            <label  for="name">
                Name <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText
                    placeholder="Type your Name..."
                    id="name"
                    [formControl]="formGroup.controls.name" />

            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.name.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.name.hasError('required')"
                        class="text-danger validation-text">
                        Name is required
                    </span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-sm-6">
            <label  for="login">
                Login <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText 
                    placeholder="Type your Login..."
                    id="login"
                    [formControl]="formGroup.controls.login" />

            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.login.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.login.hasError('required')"
                        class="text-danger validation-text">
                        Login is required
                    </span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-sm-6">
            <label  for="phone">
                Phone <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText
                    placeholder="Type your Phone..."
                    id="phone"
                    [prefix]="phonePrefix + ' '"
                    [mask]="'(000) 000-0000'"
                    [showMaskTyped]="true"
                    [formControl]="formGroup.controls.phone" />
            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.phone.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.phone.hasError('required')"
                        class="text-danger validation-text">
                        Phone is required
                    </span>

                    <span
                        *ngIf="formGroup.controls.phone.hasError('pattern')"
                        class="text-danger validation-text">
                        Phone is invalid
                    </span>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-sm-6">
            <label  for="email">
                Email <strong class="text-danger">*</strong>
            </label>

            <div class="ui-inputgroup">
                <input
                    pInputText 
                    placeholder="Ex. pat@example.com"
                    id="email"
                    [formControl]="formGroup.controls.email" />

            </div>

            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.email.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.email.hasError('required')"
                        class="text-danger validation-text">
                        Email is required
                    </span>

                    <span
                        *ngIf="formGroup.controls.email.hasError('email')"
                        class="text-danger validation-text">
                        Email is invalid
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
