<content-loader
    [showIf]="script">
    <ng-template>
        <div
            @wrapperAnimation
            class="p-grid">
            <div class="p-col-12">
                <app-script-title
                    [script]="script">
                </app-script-title>
            </div>
            <div class="p-col-12 p-sm-12 p-lg-3">
                <app-menu></app-menu>
            </div>
        
            <div class="p-col-12 p-sm-12 p-lg-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </ng-template>
</content-loader>
