<div
    *ngIf="!data.isStepInitWithError; else stepInitErrorMessageTemplate"
    class="wrapper">

    <app-back-button
        *ngIf="data.stepData.isStepBackAvailable"
        (OnClick)="onBackButtonClick()">
    </app-back-button>

    <app-container-title
        [header]="headerText"
        [subheader]="subheaderText">
    </app-container-title>

    <div class="content">
        <ng-content>
        </ng-content>
    </div>

    <app-action-buttons
        [actionButtons]="data.stepData.actionButtons"
        [trainingButtonCallback]="data.trainingButtonCallback"
        [continueButtonCallback]="data.continueButtonCallback">
    </app-action-buttons>

</div>

<ng-template #stepInitErrorMessageTemplate>
    <app-step-init-error-message>
    </app-step-init-error-message>
</ng-template>