
<div
    class="wrapper"
    (keydown.enter)="onSaveButtonClick()">
    <app-title>Edit script ⚙</app-title>

    <div class="script-form">
        <script-editing-form
            [inputData]="inputData"
            (OnFormInit)="onFormGroupInit($event)">
        </script-editing-form>
    </div>

    <div class="toolbar">
        <button
            pButton
            type="button"
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCloseButtonClick()">
        </button>

        <p-button
            label="Save"
            class="save-button"
            (click)="onSaveButtonClick()">
        </p-button>
    </div>
</div>