.dropdown-wrapper {
    margin-top: 15px;
}

.toolbar {
    margin-top: 10px;
    display: flex;

    justify-content: flex-end;

    .create-button {
        margin-left: 10px;
    }
}

:host ::ng-deep .ui-dropdown {
    width: 100%;
}