<app-title>Create link with... 🧬</app-title>

<div class="dropdown-wrapper">
    <p-dropdown
        [options]="nodes"
        [optionLabel]="'label'"
        [(ngModel)]="selectedNode">
    </p-dropdown>
</div>

<div class="toolbar">
    <button
        pButton
        type="button"
        label="Cancel"
        class="ui-button-secondary"
        (click)="onCreateButtonClick()">
    </button>

    <p-button
        label="Create"
        class="create-button"
        (click)="onCreateButtonClick()">
    </p-button>
</div>
