<div
    class="wrapper">
    <a
        [routerLink]="backLink"
        [queryParams]="{id: scriptId}">
        <div class="back-button-wrapper">
            <i class="fas fa-chevron-left"></i>
            <span class="back-text">Back</span>
        </div>
    </a>

    <div class="horizontal-menu">
    </div>
</div>

<div class="invisible-wrapper"></div>