.wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

button {
    margin: 0px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 450px) {
    .wrapper {
        justify-content: center;
    }

    button {
        width: 100%;
    }
}