<div class="wrapper">
    <button
        pButton
        type="button"
        label="Stop-word"
        icon="fas fa-stop-circle"
        iconPos="right"
        class="ui-button-danger"
        [disabled]="isDisabled"
        (click)="OnStopWordButtonClick.emit($event)">
    </button>

    <button
        pButton
        type="button"
        label="Lemmatize"
        icon="fas fa-dna"
        iconPos="right"
        class="ui-button-success"
        [disabled]="isDisabled"
        (click)="OnLemmatizeButtonClick.emit($event)">
    </button>
</div>