<p-dropdown
    [options]="selectboxColumnTypeItems"
    [(ngModel)]="selectionId"
    (onChange)="OnSelection.emit($event.value)">

    <ng-template let-item pTemplate="selectedItem">
        <span
            *ngIf="getSelectionTypeById(item.value) as columnType"
            class="text-primary font-weight-500">
            <span [ngSwitch]="columnType.isUnique">
                <span *ngSwitchCase="true">
                    <i
                        [ngClass]="(item.value !== datasetColumnTypeEnum.None) ? 'fas fa-check-circle' : 'far fa-circle'">
                    </i>
                </span>

                <span *ngSwitchCase="false">
                    <i
                        [ngClass]="(item.value !== datasetColumnTypeEnum.None) ? 'fas fa-check-square' : 'far fa-square'">
                    </i>
                </span>
            </span>
            &nbsp;
            <span
                [class.font-italic]="(item.value === datasetColumnTypeEnum.None)">
                {{ item.label }}
            </span>
        </span>
    </ng-template>

    <ng-template let-item pTemplate="item">
        <span
            [ngClass]="(item.value !== datasetColumnTypeEnum.None) ? 'font-weight-600' : 'font-italic'">
            {{ item.label }}

            <span *ngIf="getSelectionTypeById(item.value) as columnType">
                <span
                    *ngIf="columnType.isUnique"
                    class="hint-text text-info">
                    <br />
                    Unique option
                </span>
            </span>
        </span>
    </ng-template>

</p-dropdown>