@import "_colors";

:host::ng-deep .ui-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:host::ng-deep .ui-card-content {
    height: 100%;
    flex: 1 1 auto;
}

input {
    width: 100%;
    font-size: 16px;
    font-weight: 700 !important;
    text-align: center !important;
    color: $black-color !important;
}

p-footer {
    width: 100% !important;
}

.words-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .ui-chips-token {
        background-color: $info-color !important;
        color: #fff !important;
        margin: 5px;

        span {
            margin: 0px !important;
            font-weight: 500;
        }
    }
}