<p-card>

    <input
        pInputText
        type="text"
        placeholder="Enter topic name"
        [value]="data.name"
        (change)="OnTopicNameChange.emit($event.target.value)" />

    <p-footer>
        <div class="words-wrapper">
            <div
                *ngFor="let word of data.words"
                class="ui-chips-token ui-corner-all">
                <span class="ui-chips-token-label">
                    {{ word }}
                </span>
            </div>
        </div>
    </p-footer>

</p-card>