<div class="wrapper">
    <div
        class="logo">
        <img
            src="assets/logos/logo-header.png"
            height="40"/>
    </div>

    <div class="project-name">
        NLP Project
    </div>
</div>