.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0px 15px;
    display: flex;
    justify-content: center;
}

.project-name {
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    color: #d4d4d4;
}

@media screen and (max-width: 500px) {
    .project-name {
        display: none;
    }
}