.wrapper {
    display: inline-block;
    margin: 1px 0px;
    padding: 2px;
    border: solid 1px transparent;
    border-radius: 6px;

    &.not-readonly {
        &:hover {
            cursor: pointer !important;
        }
    }
}

.tag-wrapper {
    display: inline-block;
    user-select: none;
}