<div class="p-grid">
    <div class="p-col-6 p-sm-8 p-lg-10">
        <app-title>Scripts</app-title>
    </div>

    <div class="p-col-6 p-sm-4 p-lg-2 create_script_button_block">
        <app-create-script-button
            (OnClick)="onCreateButtonClick()">
        </app-create-script-button>
    </div>
</div>

<div class="content">
    <content-loader
        [waitingForObservable]="scripts$">
        <ng-template
            let-scripts="data">
            <app-script-list
                [scripts]="scripts"
                (OnScriptCardClick)="onScriptCardClick($event)"
                (OnScriptEditButtonClick)="onEditButtonClick($event)"
                (OnScriptDeleteButtonClick)="onScriptDeleteButtonClick($event)">
            </app-script-list>
        </ng-template>
    </content-loader>
</div>
