<form [formGroup]="formGroup">
    <div class="p-grid">
        <div class="p-col-12 p-sm-6 password-col">
            <label  for="password">
                Password <strong class="text-danger">*</strong>
            </label>
        
            <div class="ui-inputgroup">
                <input
                    pPassword
                    type="password"
                    placeholder="Type your password..."
                    id="password"
                    [formControl]="formGroup.controls.password" />
            </div>
        
            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.password.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.password.hasError('required')"
                        class="text-danger validation-text">
                        Password is required
                    </span>
                </div>
            </div>
        </div>
        
        <div class="p-col-12 p-sm-6 confirm-password-col">
            <label  for="confirm-password">
                Confirm password <strong class="text-danger">*</strong>
            </label>
        
            <div class="ui-inputgroup">
                <input
                    pInputText
                    type="password"
                    placeholder="Confirm password"
                    id="confirm-password"
                    [formControl]="formGroup.controls.confirmPassword" />
            </div>
        
            <div
                class="validation-container">
                <div 
                    *ngIf="formGroup.controls.confirmPassword.touched" 
                    class="error-messages">
                    <span
                        *ngIf="formGroup.controls.confirmPassword.hasError('required')"
                        class="text-danger validation-text">
                        Passwords are different
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>