<input
    [formControl]="formGroup.controls.name"
    type="text"
    placeholder="Name"
    class="name-input"
    pInputText>

<div
    [ngSwitch]="nodeType"
    class="form-wrapper">
    <div
        *ngSwitchCase="NodeTypeEnum.Action">
        <script-action-form
            [formControl]="formGroup.controls.data">
        </script-action-form>
    </div>

    <div
        *ngSwitchCase="NodeTypeEnum.Condition">
        <script-condition-form
            [formControl]="formGroup.controls.data">
        </script-condition-form>
    </div>

    <div
        *ngSwitchCase="NodeTypeEnum.Model">
        Nothin
    </div>
</div>
