<content-loader
    [showIf]="nodes && edges">
    <ng-template>
        <script-algorithm-schema
            [nodes]="nodes"
            [edges]="edges"
            [selectedNode]="selectedNode"
            (OnSelectedNode)="onNodeSelected($event)"
            (OnCreateLinkButtonClick)="onCreateLinkButtonClick($event)">
        </script-algorithm-schema> 
    </ng-template>
</content-loader>
