<div
    class="wrapper">
    <span class="title">
        404
    </span>

    <span class="description">
        Page not found
    </span>

    <div>
        <a
            [routerLink]="'/' + appLayoutEnum.Main">
            Go to main page
        </a>
    </div>
</div>