.title {
    font-size: 72px;
}

.description {
    font-size: 26px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    color: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(240, 240, 240) url(~/assets/textures/neural-texture.png);
}