.loader-wrapper {
    position: fixed;
    top: 75px;
    right: 20px;

    height: 60px;
    width: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    z-index: 99999;

    transition: opacity .2s;
}

:host::ng-deep .ui-progress-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}
