<div
    class="wrapper"
    (keydown.enter)="onSaveButtonClick()">

    <app-title>Edit variable ⚙</app-title>

    <div class="variable-form">
        <variable-form-editing
            [inputData]="inputData"
            (OnFormInit)="onFormInit($event)">
        </variable-form-editing>
    </div>

    <div class="toolbar">
        <button
            pButton
            type="button"
            label="Cancel"
            class="ui-button-secondary"
            (click)="onCloseButtonClick()">
        </button>

        <p-button
            label="Save"
            class="save-button"
            (click)="onSaveButtonClick()">
        </p-button>
    </div>
</div>

