<app-base-step
    [data]="this"
    [headerText]="'Upload ' + sourceType.name + ' file 📂'"
    [subheaderText]="'Choose ' + sourceType.name + ' file that contains the text data that you will use to train your model.'">
    <content-loader [showIf]="!isDatasetUploading">

        <ng-template>
            <app-dataset-uploader
                [sourceType]="sourceType"
                (OnFilesSelected)="onFilesSelected($event)">
            </app-dataset-uploader>
        </ng-template>

    </content-loader>
</app-base-step>