/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import "../../shared/src/lib/styles/text-styles.scss";
@import "./app/styles/primeng-addition.styles.scss";

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px !important;
    overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
